[2022-03-15 05:46] #2059 closed

[2022-03-15 05:47] yogkumgit commented on #2060
@msbemba Thank you very much for the contribution and sharing this explanation. @GenerAhl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-15 05:47] #2060 closed

[2022-03-15 07:44] robinherbert opened #2553 "Explain "The Windows 365 service always uses the first assigned policy to provision the Cloud PC." in more detail"
The text "The Windows 365 service always uses the **first assigned policy** to provision the Cloud PC." needs some detailing. What is the "first assigned policy"? Is it the first policy the user gets assigned (via AAD group membership)? What if they're in multiple groups, and removed from the first one they were added to?
Would be better to have a priority order of PP - so the highest priority PP

[2022-03-15 11:43] JB40550 commented on #486
Any updates on this anyone ?
I'm planning on using a DEM account for Autopilot HAADJ deployment.
I would like to know if i need to change device enrollment restrictions settings on AAD or MEM side ?
Or if HAADJ deployment make the DEM account "immuned" like Jeremy said above ?
thanks

[2022-03-15 14:10] RobertEbbrecht commented on #1995
@msbemba The "better" and more secure design would be to allow targeting of the connector chosen by parsing the policy that defines the AD domain name and OU. The random choice results in service accounts that require permissions to create AD computer objects in all connected on premise AD forests. In complex environments with many AD forests having multiple merger and acquisition history this res

[2022-03-15 14:19] msbemba commented on #1995
@RobertEbbrecht I understand the scenario when there is a complex environemtn. I would recommend you to post this on our feedback portal -  https://feedbackportal.microsoft.com/.

This way you will have our product/dev team work on it and provide you direct feedback.

Thanks
Sri

[2022-03-15 14:25] RobertEbbrecht commented on #1995
See/vote here:  [](https://feedbackportal.microsoft.com/feedback/idea/bed49093-6ba4-ec11-a81c-6045bd7cdb8a)

[2022-03-15 14:54] msbemba commented on #2144
@maiwa Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2554

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-15 15:07] msbemba commented on #2173
@jimlam552 Thank you for your feedback. I could not find a way to exit without connecting to the device portal page. I'd recommend you contact Support via the need help section on the admin center so that an engineer can assist you.

Hope this helps!

Thanks
Sri

[2022-03-15 15:32] LijuV-MSFT opened #2555 "Duplicate step?"
Under https://docs.microsoft.com/en-us/mem/intune/protect/certificate-authority-add-scep-overview#create-an-application-in-azure-active-directory, isn't steps **7b** and **7c** identical?

Select Add a permission again.
- On the Request API permissions page, select Microsoft Graph > Application permissions.
- Expand Application and select the checkbox for **Application.Read.All (Read all applicati

[2022-03-15 15:52] msbemba commented on #2137
@stromnessian Thank you for your feedback. I was able to test this and below are the findings. This works as described in the document as well.

when we set the setting "Block app installations with elevated privileges" as yes, it will create a registry key "HKEY_LOCAL_MACHINE\Software\Policies\Microsoft\Windows\Installer\AlwaysInstallElevated" with value 0 which means
 it is disabled.

If you dis

[2022-03-15 15:58] msbemba commented on #2106
@maiwa Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2556

Once the author approves the changes, the document will be live.

Thanks
Sri

[2022-03-15 16:14] ErikjeMS commented on #486
@lenewsad Can you take over investigating this one?

[2022-03-15 16:45] msbemba commented on #2112
@kevintaber Thank you for your feedback. Sorry about the delay in getting back to you.

Looks like you have already added Company Portal to the VPP token. To ensure that Company Portal continues to be updated after enrollment, make sure that you've configured an app deployment in Intune (In Endpoint Manager select Apps > All apps > Add). This way it gets updated. This data is available in the docu

[2022-03-15 16:54] msbemba commented on #2101
@hillihappo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2558

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-15 17:16] msbemba commented on #2176
@TechTrooper Thank you for your feedback. This feedback needs to be routed to the Product team and you can leave it directly here at https://feedbackportal.microsoft.com

Thanks
Sri

[2022-03-15 17:29] msbemba commented on #2112
@kevintaber Thank you for your response. You are right, It should let you use that option and not let users uninstall. That is the way to restrict users from uninstalling the app.

Looks like it is either a bug or it not working by design. In both cases, I'd recommend you contacting support as the 1st option as they will be able to collect logs and escalate or file a bug as and when needed.

Thank

[2022-03-15 20:23] eac792 opened #2560 "App protection for (iOS/Android policies) conditional launch - Can you clarify when exactly when the data is deleted?"
How soon is app data deleted for a disabled account when configured in app protection for (iOS/Android policies) conditional launch?
Does that mean the admin/Intune admin has to confirm checking a flag or take a action when the account is disabled and do a manual selective wipe or is this automated?  Can you clarify when exactly when the data is deleted?

<html>
<body>

**Disabled account** | Ther

[2022-03-16 00:56] aczechowski commented on #2349
I did make changes to this article via #1883 to note that the key vault also needs to be globally unique. These changes will publish live with the 2203 current branch release. I'm closing this issue, if you have additional detail to add to this feedback, please comment back.

[2022-03-16 00:56] #2349 closed

[2022-03-16 01:23] aczechowski commented on #2462
This note will be added when the content is updated for the 2203 current branch release. Thanks again for the feedback.

[2022-03-16 01:23] #2462 closed

[2022-03-16 01:24] aczechowski commented on #2462
(Internal reference 13180442)

[2022-03-16 01:30] aczechowski commented on #2535
Hi @zebulonsmith, this is mentioned in a couple of spots:

**Plan for CMG** article, [Virtual machine scale sets](https://docs.microsoft.com/mem/configmgr/core/clients/manage/cmg/plan-cloud-management-gateway#virtual-machine-scale-sets) section:

**Configure Azure AD for CMG** article (step 2 of the "Set up" process), [Configure Azure resource providers](https://docs.microsoft.com/mem/configmgr/co

[2022-03-16 01:30] #2535 closed

[2022-03-16 04:16] yogkumgit commented on #2008
@lenewsad Please help us in resolving this issue. Thanks.

[2022-03-16 04:19] yogkumgit commented on #2040
@lightupdifire Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that

[2022-03-16 04:19] #2040 closed

[2022-03-16 04:21] yogkumgit commented on #2090
@dougeby Please help us in resolving this issue. Thanks

[2022-03-16 04:23] yogkumgit commented on #2128
@Brenduns Please help us in resolving this issue. Thanks

[2022-03-16 04:26] yogkumgit commented on #2140
@Brenduns Please help us in resolving this issue. Thanks

[2022-03-16 05:47] yogkumgit commented on #2024
@msbemba Thank you very much for the contribution and sharing this explanation. @kevintaber Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-16 05:47] #2024 closed

[2022-03-16 05:51] yogkumgit commented on #1975
@Derusi  Thank you very much for your kind feedback. Your feedback will be forwarded to PG. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-03-16 05:51] #1975 closed

[2022-03-16 05:53] yogkumgit commented on #2030
@dougeby Please help us in resolving this issue. Thanks

[2022-03-16 05:55] #2046 closed

[2022-03-16 06:13] yogkumgit commented on #2105
@msbemba Thank you very much for the contribution and sharing this explanation. @maiwa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-16 06:13] #2105 closed

[2022-03-16 06:18] yogkumgit commented on #2112
@msbemba Thank you very much for the contribution and sharing this explanation. @kevintaber Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-03-16 06:18] #2112 closed

[2022-03-16 06:23] yogkumgit commented on #2137
@msbemba Thank you very much for the contribution and sharing this explanation. @stromnessian Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-16 06:23] #2137 closed

[2022-03-16 06:23] yogkumgit commented on #2139
@msbemba Thank you very much for the contribution and sharing this explanation. @DontNeedNoGit Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-16 06:24] #2139 closed

[2022-03-16 06:27] yogkumgit commented on #2173
@msbemba Thank you very much for the contribution and sharing this explanation. @jimlam552 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-03-16 06:27] #2173 closed

[2022-03-16 19:37] LijuV-MSFT commented on #2555
@yogkumgit , just checking to see if you have an update. This is affecting a customer of mine looking to deploy this solution.

[2022-03-17 11:06] ManfredPohlemann opened #2564 "No value types in General app configuration scenarios"
Hi,

could someone please add the value type for all configuration keys? Or does it not matter which value type I use since I have to enter every configuration value by hand anyway?
E.g.: My Apps bookmark - Do I use value type "String" or "Boolean" in the Value type field?

Regards
Manfred
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-03-17 16:28] brsieff commented on #2513
Hello, any updates?

[2022-03-17 20:37] deanellerby opened #2565 "Defender for Endpoint missing from supported MTD list"
List of supported MTD products for unenrolled devices does not include DfE.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726a7fae-8a03-49fc-7f60-31e4fcc282cd
* Version Independent ID: 5ce29d71-8f06-5973-7591-d5529c5b5fc9
* Content: [Add Mobile Threat Defense apps to unenrolled devices - Microsoft Intune](https://docs

[2022-03-18 14:09] yogkumgit commented on #2101
@msbemba Thank you very much for the contribution and updating the documentation with PR. @hillihappo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-18 14:12] yogkumgit commented on #2176
@TechTrooper Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-03-18 14:19] yogkumgit commented on #2052
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dmcwee Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-18 14:19] #2052 closed

[2022-03-18 14:21] yogkumgit commented on #1272
@msbemba Thank you very much for the contribution and updating the documentation with PR. @localandremote Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-18 14:22] #1272 closed

[2022-03-18 14:23] yogkumgit commented on #2136
@msbemba Thank you very much for the contribution and updating the documentation with PR. @scheblein Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-18 14:23] #2136 closed

[2022-03-18 14:25] yogkumgit commented on #1730
@msbemba Thank you very much for the contribution and updating the documentation with PR. @contactbrenton Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-18 14:26] #1730 closed

[2022-03-18 16:12] davidpaMSFT opened #2567 "Consider adding a note about SSL inspection of traffic to 'manage.microsoft.com' endpoint."
As per discussion with a PM, we do not allow inspection of management traffic to our cloud services. Consider adding a note on SSL inspection (not being allowed/supported) in the section where we already mention that "Intune requires unauthenticated proxy server access to manage.microsoft.com".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-03-18 20:07] aczechowski commented on #1761
Thanks @motaj1 for the feedback. I confirmed with engineer:

I'm doing a bunch of CMG-related updates for 2203 release, so will include this with that.

[2022-03-21 05:26] infoachieve opened #2569 "Name Mismatch.."
[Enter feedback here]
Hi Team,
Good Day. Hope everyone is fine and in good health.
While creating a policy in the MEM Admin Center we see "Profile Type" and not as "Policy Type". I have attached the snapshot for the same. Kindly check from your end and do the needful.
**_For Policy type, select either Fully managed, dedicated, and corporate-owned work profile or Personally-owned work profile, and

[2022-03-22 09:03] zackrspv commented on #1457
given that MFA is supported with the company portal option now with ADE, I assume this issue can be closed - however, it still appears it doesn't always register, even if the person registering is ENFORCED for MFA, is signed into the company portal, but the setup screen doesn't ask for MFA.

[2022-03-22 14:52] #1457 closed

[2022-03-22 18:53] aczechowski commented on #2050
Hi @o-l-a-v, this article only uses the first syntax that you list (`Get-AutopilotProfile | ConvertTo-AutopilotConfigurationJSON`), so I'm assuming that your feedback is more general about the cmdlets themselves. I think there are two options on how best to share this feedback with the Intune engineering team:

- With administrative access to the admin center, you can use the Help and Support opti

[2022-03-22 18:53] #2050 closed

[2022-03-22 21:23] aczechowski commented on #2473
Thanks @greg-youthorizons for the feedback. I checked with the feature PMs, this question has come up before and the result was the first paragraph of the main [licensing prerequisites section in the enroll Intune devices article](https://docs.microsoft.com/mem/analytics/enroll-intune#licensing-prerequisites):

As linked from this article.

It's arbitrary to explicitly add M365 BP to the list, as

[2022-03-22 21:23] #2473 closed

[2022-03-22 21:28] aczechowski commented on #2478
Thanks @gwpelletier for the feedback...I'll just be honest that I don't see our team taking the time to track this down to update. We don't have a resource that's actively working in this space. So instead of just leaving the issue open, I'm going to close it. Alternatives - file product feedback that there should be better guidance on this process. If that gets a bug filed internally, I can then

[2022-03-22 21:28] #2478 closed

[2022-03-22 21:29] #2493 closed

[2022-03-22 21:40] aczechowski commented on #2501
Thanks @tbiles for the feedback. I think this is probably best routed through the engineering team to either expose all columns by default, or only export the columns that are shown. To do that, see [Product feedback](https://docs.microsoft.com/mem/configmgr/core/understand/product-feedback).

If you want to add something about this to the doc, please submit a contribution. For more info, see [How

[2022-03-22 21:40] #2501 closed

[2022-03-22 21:45] aczechowski commented on #2504
Hi @bccgeorge it's probably something that would be good to clarify. The first I think refers to the NTFS and/or file share permissions. Make sure that the NAA has explicit permission or via a group. I assume Read permission is sufficient.

The second refers to the [Windows user right assignment](https://docs.microsoft.com/windows/security/threat-protection/security-policy-settings/access-this-com

[2022-03-22 22:04] aczechowski commented on #2539
Thanks @brianfgonzalez for the feedback. That's a good idea to cross link it with the Accounts article that has more information. For example, the one you're asking about is here: https://docs.microsoft.com/mem/configmgr/core/plan-design/hierarchy/accounts#active-directory-forest-account

[2022-03-22 22:51] aczechowski commented on #957
Thanks @adamgourd for the feedback. I'm removing the references to USMT, as the current task sequence template doesn't include those steps. So that will help a bit to avoid that confusion. I'm also adding a reference to OneDrive for Business known folder redirect, which is what that first sentence is referring to. I'll clarify. The changes won't go live for a couple of weeks, as it's dependent on

[2022-03-23 02:49] lesca opened #2576 "Mistakes in FAQ"
Original statement:

What's the problem:
1. **device state** vs **managed state**, I suppose they are the same, which is "device management state" as the setting in point 2. If so, update it to avoid confusing.  If not, please clarify the differences.
2. **Target to all app types** is wrong, correct one is "Target to apps on all **device** types" as you can see when you create a new protection pol

[2022-03-23 04:03] msbemba commented on #1427
@thesling1 Thank you for your feedback. I was able to test and I see the renew token option in Intune. Looks like this might have been fixed recently after you posted the issue.

![image](https://user-images.githubusercontent.com/45987684/159621664-930088ca-515c-4a4e-8176-bd401af6b2f1.png)

Thanks
Sri

[2022-03-23 12:00] iMonZ commented on #1525
Any news on that?
We enroll our Macs daily and some are supervised in the portal and some are not (With ADE)

[2022-03-23 14:06] dereklangMSFT opened #2577 "Data Threshold Mismatch"
In the CMG properties in the console, the default shows as 10000 GB:
- 14-day threshold for outbound data transfer (GB). The default value is 10000

In this document, we state the default is only 10GB:

[https://docs.microsoft.com/en-us/mem/configmgr/core/clients/manage/cmg/monitor-clients-cloud-management-gateway#set-up-outbound-traffic-alerts](url)

- Specify the 14-day data threshold for outbou

[2022-03-23 14:58] lberenberg opened #2578 "Firewall Import Tool not functional"
The firewall import tool doesn't appear to be working, it hangs after asking for a policy name. This has happened across multiple tenants and when run on different machines. Not sure if this is a wider issue with the tool or something more specific.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bffd4704-acbf-a7e8-073f

[2022-03-23 17:27] aczechowski commented on #2533
I confirmed with PMs, it's not supported. Closing issue.

[2022-03-23 17:27] #2533 closed

[2022-03-23 18:00] Martony78 opened #2579 ""*.manage.microsoft.com" is not enough since it does not include "manage.microsoft.com""
The doc tells us to allow "*.manage.microsoft.com" but does not mention "manage.microsoft.com", which is not included in "*.manage.microsoft.com" because of the dot before. I spent days troubleshooting an issue, then I opened manage.microsoft.com and everything went fine.
More info here:
[https://techcommunity.microsoft.com/t5/microsoft-intune/connector-for-active-directory-enrollment-fails/m-p/30

[2022-03-23 20:43] brsieff commented on #2513
Assigned for almost 3 weeks and might be a just a slight change in language and still no update.... sad 👎

[2022-03-23 21:32] danbu opened #2581 "Share Logs iOS/iPadOS"
There is no "about > intunehelp" option in Microsoft Edge for iOS/iPadOS.  If you select the "..." to bring up the menu then select "Settings" there is a "About Microsoft Edge" option but thne there is no "intunehelp" option to select.  just "Terms of use", "Services agreement", "Privacy statement", "Third-party notices", "Open source software", "Chromium", and "Help"

---
#### Document Details

⚠

[2022-03-23 21:36] aczechowski commented on #2577
Thanks @dereklangMSFT for catching this. I double-checked with engineering: Default value should be 10T and 2T respectively

I'm making some other updates to CMG content for the 2203 release, so will include this.

[2022-03-23 21:38] dereklangMSFT commented on #2577
Thanks again Aaron

[2022-03-23 22:44] dil-asagar opened #2582 "Missing Appstore Submission Note"
[Enter feedback here]
[!NOTE] If you use the framework, you must manually strip out the simulator architectures from the universal framework before you submit your app to the App Store. See [Submit your app to the App Store](https://github.com/MicrosoftDocs/IntuneDocs/blob/main/intune/developer/app-sdk-ios.md#submit-your-app-to-the-app-store) for more details.

this is quite important : should be

[2022-03-24 00:02] #2434 closed

[2022-03-24 00:02] #2384 closed

[2022-03-24 00:03] aczechowski commented on #2374
I made a change to clarify, it will publish with the 2203 release

[2022-03-24 00:03] #2374 closed

[2022-03-24 00:03] #2286 closed

[2022-03-24 00:04] #2166 closed

[2022-03-24 00:04] aczechowski commented on #1883
I made a change to clarify, it will publish with the 2203 release

[2022-03-24 00:04] #1883 closed

[2022-03-24 00:04] #1761 closed

[2022-03-24 00:04] #2577 closed

[2022-03-24 05:52] JCapretta opened #2583 "Add clarification on support for PXE"
Documentation states:

This is misleading as it only applies if you need to PXE boot on the same broadcast domain. PXE  server can function without broadcast/multicast traffic between client and server using ip helpers as per https://docs.microsoft.com/en-us/troubleshoot/mem/configmgr/boot-from-pxe-server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-03-24 09:34] msbemba commented on #2182
@MaksimLyzaev Thank you for your feedback. Built-in apps provide a quicker way of deploying typical enterprise apps. The actual apps do not differ from the ones from the store. All built-in apps are eligible for app protection and configuration policies.

Hope this helps!

Thanks
Sri

[2022-03-24 09:39] msbemba commented on #2183
@eogmau Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2584

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 09:47] msbemba commented on #2184
@Coopem16 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2585

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 09:52] msbemba commented on #2189
@nExoRek Thank you for your feedback. As mentioned in the document, The option to change the setting is only displayed if you haven't yet set the MDM authority.

If you haven't set up MDM authority, you can follow the steps here to make the changes -https://docs.microsoft.com/en-us/mem/intune/fundamentals/mdm-authority-set#set-mdm-authority-to-intune

Hope this helps!

Thanks
Sri

[2022-03-24 10:02] msbemba commented on #2194
@PlayPratz Thank you for your feedback. We have added a note on the document that talks about this

If your input app is an Android App Bundle (.aab), you will need to convert it to an APK before using the Intune App Wrapping Tool. For details, see [Convert Android App Bundle (AAB) to APK](https://docs.microsoft.com/en-us/mem/intune/developer/app-wrapper-prepare-android#convert-android-app-bundle-

[2022-03-24 10:08] msbemba commented on #2200
@lenewsad Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2586

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 10:19] msbemba commented on #2201
@JimmyLS Thank you for your feedback. As mentioned  Azure MFA works in Setup Assistant when using ADE. The problem statement is not by design, We usually refer customers to provide such feedback on our main feedback portal. In this case, I have raised the feedback Myself and this will be handled by the dev/product team. Feedback portal Link -https://feedbackportal.microsoft.com/feedback/idea/d8022

[2022-03-24 10:25] msbemba commented on #2202
@sufuruka Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2587

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 10:32] msbemba commented on #2209
@0fflineDocs Thank you for your feedback. I can find the details updated in the document after you reported the issue-https://docs.microsoft.com/en-us/mem/intune/fundamentals/supported-devices-browsers

Apple iOS 13.0 and later
Apple iPadOS 13.0 and later
macOS 10.15 and later

Hope this helps!

Thanks
Sri

[2022-03-24 10:40] msbemba commented on #2210
@Martony78 Thank you for your feedback.  I don't know of anything off-hand but this sounds like a really good idea to have one like https://testconnectivity.microsoft.com. These Design changes or new feature requests should be posted in our Main feedback portal: https://feedbackportal.microsoft.com/ so one of the dev/product team members will contact you.

Hope this helps!

Thanks
Sri

[2022-03-24 10:43] msbemba commented on #2212
@SquirrelAssassin Thank you for your feedback. Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closely with our support team via the need help Icon on the admin center. Based on the issue, the support team will be able to determine if this is a limitation or a bug and will be able to take this forward.

Hope thi

[2022-03-24 10:48] msbemba commented on #2213
@IN-jwink Thank you for your feedback. you are correct, assignments of the policy set to control all assignments. When you create a policy set, you create a single unit of assignment.

Hope this helps!

Thanks
Sri

[2022-03-24 10:56] msbemba commented on #2217
@bsmith05 Thank you for your feedback. You are correct, both look very similar but there are a few differences in content and we would like to separate the App protection experience for Android devices and IOS.

Hope this helps!

Thanks
Sri

[2022-03-24 11:09] msbemba commented on #2232
@rconiv Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2588

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 11:15] msbemba commented on #2233
@Aegrum Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2589

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 11:20] msbemba commented on #2245
@rbishop-etq Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2590

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 11:29] msbemba commented on #2253
@thomasforde Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2591

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 11:47] msbemba commented on #2264
@danmyhre Thank you for your feedback. If it is installed and published as available, the admin will be able to make detection method on the app version and update the app that way.

If you have trouble doing that, I recommend working closely with our Support team via the need help Icon on the admin center.

Hope this helps!

Thanks
Sri

[2022-03-24 11:57] msbemba commented on #2265
@danmyhre Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2592

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 12:16] IN-jwink commented on #2213
So the documentation has been disambiguated?  I haven’t checked yet.

From: Sriraman M S ***@***.***>
Sent: Thursday, March 24, 2022 6:49 AM
To: MicrosoftDocs/memdocs ***@***.***>
Cc: Wink, Jerome ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/memdocs] Missing details (Issue #2213)

**** This is an EXTERNAL email. Exercise caution. DO NOT open attachments or click links from unknow

[2022-03-24 12:21] msbemba commented on #2270
@rjohnstonmcsa Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2593

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 12:38] msbemba commented on #2271
@AlexSchwerzmann Thank you for your feedback.  It's not possible to MDM-enroll Windows Server devices to Intune, but it's totally possible to see Windows Server devices in the MEMAC using Tenant-Attach. I'd recommend you post the feedback on our main feedback portal -https://feedbackportal.microsoft.com/ so one of the dev/product team members will be able to provide you an update if this is in the

[2022-03-24 12:42] msbemba commented on #2297
@Kazzan Thank you for your feedback. The document lists the prerequisites here -https://docs.microsoft.com/en-us/mem/intune/fundamentals/review-logs-using-azure-monitor#prerequisites

To use this feature, you need:

An Azure subscription that you can sign in to. If you don't have an Azure subscription, you can [sign up for a free trial](https://azure.microsoft.com/free/).
A Microsoft Intune enviro

[2022-03-24 12:50] msbemba commented on #2306
@Dpovea Thank you for your feedback. By design, the Password expiration (days) must be between 1-365 days and is applicable only for Android 9 and earlier, or Samsung Knox (any version). It is not applicable for Android 10 and later.

Hope this helps!

Thanks
Sri

[2022-03-24 13:24] JDFlannery commented on #178
Looking into an additional error code we are seeing now and it's not listed anywhere in your documentation.
0x87D13B8A
More specifically - License Assignment failed with TokenRevoked. (0x87D13B8A)
Our token isn't revoked and I can't see get any new apps to sync from apple school manager (net new purchased licenses.)

[2022-03-24 13:39] msbemba commented on #2319
@Bjoern-LW52 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2595

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-24 13:50] msbemba commented on #2320
@TechTrooper Thank you for your feedback. I was not able to search for empty value as well. Since this is more of a design change/feature request it needs to be routed to the appropriate team. I'd request you to provide this feedback in our main feedback portal - https://feedbackportal.microsoft.com/ so our Dev/product team member will be able to provide you more information.

Hope this helps!

Th

[2022-03-24 15:13] yogkumgit commented on #2189
@msbemba Thank you very much for the contribution and sharing this explanation. @nExoRek Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-24 15:15] yogkumgit commented on #2194
@msbemba Thank you very much for the contribution and sharing this explanation. @PlayPratz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-24 15:15] #2194 closed

[2022-03-24 15:19] yogkumgit commented on #2201
@msbemba Thank you very much for the contribution and sharing this explanation. @JimmyLS Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-24 15:19] #2201 closed

[2022-03-24 15:22] yogkumgit commented on #2209
@msbemba Thank you very much for the contribution and sharing this explanation. @0fflineDocs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-24 15:22] #2209 closed

[2022-03-24 15:24] yogkumgit commented on #2210
@Martony78 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-03-24 15:24] #2210 closed

[2022-03-24 15:25] #2212 closed

[2022-03-24 15:34] yogkumgit commented on #2264
@msbemba Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the out

[2022-03-24 15:34] #2264 closed

[2022-03-24 15:37] #2271 closed

[2022-03-24 15:39] yogkumgit commented on #2297
@msbemba Thank you very much for the contribution and sharing this explanation. @Kazzan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-24 15:45] yogkumgit commented on #2320
@TechTrooper  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-03-24 15:45] #2320 closed

[2022-03-24 15:46] JordanNash commented on #2460
I think the right sequence might be:

[code]

[2022-03-24 15:58] JordanNash commented on #2460
Ah, it may be a simple typo!

See https://docs.microsoft.com/en-us/graph/powershell/get-started.

[code]

[2022-03-24 16:17] Kazzan commented on #2297
Hi, I just wondering if you even read my initial comment or not.

I asked to clarify the permissions for Workspace itself. If I only have Reader permissions to Workplace it does not get connected to Intune. Will Owner of Resource Group work? Maybe, maybe Not, but definitely you need the Contributor for Workspace at least.

This is the single thing which article does not mention. Not everybody are

[2022-03-24 17:25] lemondave opened #2596 "Wrong version?"
[Enter feedback here]

We deployed what I thought was the latest version of Remote Help by following these steps.  The app deployed from Intune without any issues.  However, when users first launch the program they are asked to install an update.  Users without admin rights are unable to install the update.

The deployed version shows up in Add/Remove programs as 3.8.0.12 with the remotehelp.exe f

[2022-03-24 21:25] aczechowski commented on #2583
Hi @JCapretta, in the context of this article (ConfigMgr on Azure), it means that you can't have a DP in Azure that responds to PXE or multicast requests from on-premises clients, that's not supported. It might technically work if you configure things appropriately, but the engineering team hasn't tested and verified all situations.

[2022-03-24 21:25] #2583 closed

[2022-03-24 22:48] beflamm commented on #1525
Hi everyone - these remote actions didn't make the cut for engineering work so we're hoping to target it for this fall.

[2022-03-25 04:33] msbemba commented on #2213
Yes, the document has been updated with the wordings "When you create a policy set, you create a single unit of assignment"

[2022-03-25 04:59] msbemba commented on #1941
@hilde-msft Thank you for your response. I'll check with the author and provide you with an update.

Thanks
Sri

[2022-03-25 10:53] lightupdifire opened #2597 "Prerequisites for Intune onboarding"
Hello,

I lead to this page from: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-endpoints-mdm?view=o365-worldwide
On the above page it says:
![image](https://user-images.githubusercontent.com/39700914/160105097-43054dcb-fdc8-4221-974c-5122e6ea045a.png)
And it is applied to:
![image](https://user-images.githubusercontent.com/39700914/160105186-0422888d-b762-47f

[2022-03-25 13:50] yogkumgit commented on #2297
@msbemba

[2022-03-25 14:19] yogkumgit commented on #2113
@rconiv Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-25 14:19] #2113 closed

[2022-03-25 15:28] rconiv commented on #2113
Does it take a while for the change to propagate?  If I go to https://docs.microsoft.com/en-us/mem/intune/fundamentals/what-is-intune the issue of when I click on the link at As a stand-alone [Azure service](https://go.microsoft.com/fwlink/?linkid=2090973) it takes me to the page has moved, change your links to Our new home is the Microsoft Endpoint Manager admin center. (https://endpoint.microsof

[2022-03-25 15:40] Brenduns commented on #2597
@lightupdifire   Thank you for your dedication to detail this journey. This is timely feedback as I'm close to wrapping up a review/recommendation task for some intertwined Intune and Defender content to align our message/details, fix the context for links vs destinations, and more. Many of the article you note here are involved in that review, though I didn't pick up on the journey you've describ

[2022-03-25 21:30] aczechowski commented on #2539
I made changes for this, they'll publish with the 2203 release

[2022-03-25 21:30] #2539 closed

[2022-03-28 06:12] houkoku opened #2601 "Request to modify how to check device/user check-in status, device assignment status, and per-configuration status in the configuration profile."
[Enter feedback here]
Please correct and update the following Intune new feature release, which changes the way device/user check-in status, device assignment status, and status per setting are displayed in the configuration profile.

<Document
Title Device Configuration｜New Features of Microsoft Intune
URL : https://docs.microsoft.com/en-us/mem/intune/fundamentals/whats-new#device-configuration

[2022-03-28 08:39] lightupdifire commented on #2597
@Brenduns
I think yes, this will be a better article. And thanks for reviewing those docs! With "Defender Plan 1" and "Defender Plan 2" and other namings as "Defender for Endpoint" makes it a little bit complex reading in terms of thinking, which license users are covered, which settings we can enable in the "Security portal of Defender 365" then which way we can onboard devices and make sure the

[2022-03-28 15:15] Brenduns commented on #2597
@lightupdifire   I'll submit that link change to the Defender content later today, in place of leaving it others at a later time via the larger bulk of feedback I have. I also am correcting a similar link in the Data Loss Prevention content, as onboarding to MDE also onboards to DLP as it turns out, and they use the same link to the same destination article, that doesn't deliver the onboarding goo

[2022-03-28 15:15] #2597 closed

[2022-03-28 19:28] jamiepassa opened #2604 "Out of public preview?"
Any update on when it will be out of public preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bc62c89-a452-0d3f-01f3-c5982803809e
* Version Independent ID: 6bc62c89-a452-0d3f-01f3-c5982803809e
* Content: [Remotely assist users that are authenticated by your organization.](https://docs.microsoft.com/en-us/mem/int

[2022-03-29 14:31] Dburke225 opened #2605 "Wiping now Factory Resets...."
I just wiped my device, which I had done previously and it factory reset the phone. WTF? Its supposed to only wipe company data, good thing I didn't roll this out to employees yet. Why was this function changed and when?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cdcc7fd-5bd9-1645-abf4-a73d3ea7adaa
* Version Indep

[2022-03-29 16:22] Brenduns commented on #2381
@fswgm  Thank you for this feedback.  The content was updated shortly after this issue was submitted, but we failed to close the loop with you on that.   You'll find the updated language aligns to your second suggestion.

[2022-03-29 16:22] #2381 closed

[2022-03-29 16:55] Brenduns commented on #2350
@MarcLaf    Hello Mark, after discussion with our developers and product PM team, I'm updating the content today to indicate the export should be as a DER-encoded .cer file.  This is the encoding format that has been tested and the product group will support.  I don't have visibility to plans to test Base-64 at this time or insight to any potential issues, but as its not yet tested, we can't list

[2022-03-29 16:55] #2350 closed

[2022-03-29 17:34] Brenduns commented on #2140
Tracking by internal work item 13958578.

[2022-03-29 17:38] Brenduns commented on #2140
@simonkw2000   Following up on this ask, which I'm now tracking internally. If I'm able to get the expanded Event ID details, I'll seek to add those to the content. Because I'm tracking this internally, I'll close this issue submission, though it will still support communication back to you once I know more.

Once I know if that's possible, being done, or not something we can provide, I'll follow

[2022-03-29 17:38] #2140 closed

[2022-03-29 17:50] Brenduns commented on #2125
@emarana    Thanks for this submission, which unfortunately fell off our radar for some time.  I've now submitted the content update to add those missing details, which should publish later today.   Like the private and public firewall profiles, the default is *Yes*, with an option to not configure (not manage) this setting through that baseline instance.

[2022-03-29 17:52] #2125 closed

[2022-03-29 21:26] Brenduns commented on #1539
Closing without content action/clarification. The PM/Dev team was unable to comment or provide clarifications, and since April 2021 no further asks about this have been raised.

[2022-03-29 21:26] #1539 closed

[2022-03-29 21:52] Brenduns commented on #1628
The use of _User Defined_ remains an enigma that I’ve not been able to get an answer for. The endpoint security policies included this option for five separate settings, but this option doesn’t appear to have a functional use, at least that can be configured through Intune policy today. The use and concept for Attack Surface Reduction Rules are detailed in the content for Microsoft Defender for En

[2022-03-29 21:52] #1628 closed

[2022-03-29 23:00] jpcast88 commented on #1628
@Brenduns I appreciate the detailed response and follow up on this. This should be all the clarification I need moving forward. Thanks.

[2022-03-30 12:48] svwie opened #2608 "Proxy configuration"
I've just upgraded from the legacy NDES Connector for SCEP to the new unified SCEP/PKCS/PFX Intune connector.  That was a rather painful experience, since the proxy configuration has changed. The legacy connector was configured with "proxyserver.domain" and the according port. I've just reused this configuration with the new unified connector.

Installation runs smoothly, connector is created and

[2022-03-30 13:18] faceball2000 opened #2609 "Notification email 'sent from' email address not as documented"
Can you check the documented email notification 'sent from' addresses please?

We are receiving Intune email notifications from: microsoft-noreply@microsoft.com, which is written as meant for Government Cloud customers but we are not a Government Cloud customer. We used to get the address IntuneNotificationService@microsoft.com, has something changed ~Jan 2022? what is the correct sent from addres

[2022-03-30 14:12] Brenduns commented on #2609
@faceball2000    Sorry to hear your getting unexpected notifications. Please open a support case to have this investigated. Via this documentation feedback channel, we can't assist on something like this, and support will likely need information about your tenant that should not be shared via this public doc feedback system.

[2022-03-30 16:48] svwie commented on #2608
@Brenduns exactly. Usually proxy configuration is either accepting both or pointing out the correct syntax, e.g. with a pre filled example. In this case the resulting error message is really off, so you don't get it connected with a proxy issue.

[2022-03-30 20:04] Brenduns commented on #2608
@svwie   I've submitted an update that will publish later today. This adds a tip (for visual awareness) about the change of required syntax to that step.  Thanks for the feedback on this.

[2022-03-30 20:04] #2608 closed

[2022-03-30 21:35] dersonc opened #2611 "Role-based administration for orchestration groups currently isn't available"
Version 2111 includes permissions for orchestration groups:
![image](https://user-images.githubusercontent.com/12057635/160934842-e41eacc0-bf37-4550-8f19-95d89b04a328.png)

The page says that _"Role-based administration for orchestration groups currently isn't available."_, should this be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-03-31 11:16] msbemba commented on #2182
@yogkumgit This can be closed.

[2022-03-31 11:18] msbemba commented on #2213
@yogkumgit This can be closed.

[2022-03-31 11:19] msbemba commented on #2217
@yogkumgit No changes are needed in the document. This can be closed.

[2022-03-31 11:30] msbemba commented on #2297
@Kazzan Thank you for your response and sorry about the confusion. You are correct, you need to have a Log Analytics Contributor to be able to Configure the collection of logs from Azure Storage. More details can be found here-
anhttps://docs.microsoft.com/en-us/azure/azure-monitor/logs/manage-access#manage-access-using-azure-permissions

I have also added this to the document via PR#https://githu

[2022-03-31 11:30] mikerobyn opened #2613 "Defender for Endpoint / Intune - Mismatch in docs"
Hi everyone,

in the docs it says:
Select Endpoint security > Microsoft Defender for Endpoint, and then select **Open the Microsoft Defender Security Center**.
There is no such link in the portal.

Cheers,
Mike

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24fa182f-ace6-e7e2-ff98-91951be7d10e
* Version Independent ID:

[2022-03-31 11:31] msbemba commented on #2306
@yogkumgit The document is updated and this can be closed.

[2022-03-31 11:33] msbemba commented on #1427
@yogkumgit This can be closed.

[2022-03-31 11:34] msbemba commented on #1584
@yogkumgit This can be closed.

[2022-03-31 11:34] msbemba commented on #1725
@yogkumgit  This can be closed.

[2022-03-31 11:41] Kazzan commented on #2297
Thanks. 👍

[2022-03-31 13:37] yogkumgit commented on #2182
@msbemba Thank you very much for the contribution and sharing this explanation. @MaksimLyzaev Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-31 13:37] #2182 closed

[2022-03-31 13:38] yogkumgit commented on #2213
@msbemba Thank you very much for the contribution and sharing this explanation. @IN-jwink Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-31 13:38] #2213 closed

[2022-03-31 13:40] yogkumgit commented on #2217
@msbemba Thank you very much for the contribution and sharing this explanation. @bsmith05 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-31 13:43] yogkumgit commented on #2306
@msbemba Thank you very much for the contribution and sharing this explanation. @Dpovea Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-31 13:43] #2306 closed

[2022-03-31 13:44] yogkumgit commented on #1427
@msbemba Thank you very much for the contribution and sharing this explanation. @thesling1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-31 13:44] #1427 closed

[2022-03-31 13:45] yogkumgit commented on #1584
@msbemba Thank you very much for the contribution and sharing this explanation. @svenhallauer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-31 13:47] yogkumgit commented on #1725
@msbemba Thank you very much for the contribution and sharing this explanation. @macmillernz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-31 13:47] #1725 closed

[2022-03-31 13:50] yogkumgit commented on #1360
@msbemba Thank you very much for the contribution and updating the documentation with PR. @svenhallauer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-31 13:50] #1360 closed

[2022-03-31 13:52] #1944 closed

[2022-03-31 16:20] Dirk-Manderin opened #2615 "Store App deployment type does not work with the new Microsoft Store"
It doesn't appear that publishing apps from the new Microsoft Store works in Intune.  This is the store that shipped with Windows 11 and was backported to Windows 10.  When entering the URL for say, PowerToys, Intune throws an error about it being an invalid URL.  If Intune does not support the new Microsoft Store, please consider adding this to the Intune documentation.  Thanks.

---
#### Documen

[2022-03-31 18:40] aczechowski commented on #1495
Thanks @thetechgy for the feedback. In talking with the engineers about this, from Powershell 3.0 and up, it implicitly imports the module once a function is invoked. But yes, Import after Install is required to load the module into memory. So I'll add those import statements.

I don't think you should need to change execution policy, unless you are running this as a script (but then you wouldn't

[2022-03-31 18:43] aczechowski commented on #2460
Thanks @jishua9 for the feedback. I checked with the engineers, and will update the doc to use the recommended Connect-MSGraphApp. It was introduced in WindowsAutopilotIntune version 4.8 to simplify the authentication process for Intune scenarios. Having said that, Connect-MSGraphApp is just a wrapper around Connect-MSGraph, so the old command should still work. For more info, see https://www.powe

[2022-04-01 06:18] PehDeh opened #2617 "ADK 2004 & Windows10 LTSC2021 Media cause System Image Manager to fail"
Hi,

please note somewhere that if someone is using: **SW_DVD9_WIN_ENT_LTSC_2021_64BIT_ENGLISH_MLF_X22-84414** to create a tasksequence you will have to install **ADK 1903 on another Server** and install the patch from https://docs.microsoft.com/en-us/windows-hardware/get-started/what-s-new-in-kits-and-tools https://go.microsoft.com/fwlink/?linkid=2095334
Else a catalog (*.clg) file for the instal

[2022-04-01 20:35] tomsull22 opened #2619 "Please Update the Configuration Settings page to include the Config Package Type option"
The Configuration Settings Page of the Endpoint detection and response Profile creation dialog has a new configuration option called "Microsoft Defender for Endpoint client configuration package type" with 4 options, "Auto from connector", "Onboard", "Offboard", and "Configure".  The current page shows the older "Configuration Settings" page without this new option.  Please document this new confi

[2022-04-02 12:18] yogkumgit commented on #1710
@msbemba Thank you very much for the contribution and updating the documentation with PR. @TaniaLimaP Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-02 12:18] #1710 closed

[2022-04-04 05:28] NAWABDERA1 opened #2621 "Nawabdera"
Nawabdera1=nawabdera

[2022-04-04 14:02] msbemba commented on #2354
@chrisclime Thank you for your feedback. The document has been updated with the important note "Multiple required or available app assignments are not additive. A later app assignment will overwrite pre-existing installed app assignments." without the example.

Hope this helps!

Thanks
Sri

[2022-04-04 14:30] aczechowski commented on #2621
Assuming this is a test or misfire, closing

[2022-04-04 14:30] #2621 closed

[2022-04-04 14:41] aczechowski commented on #2500
Assuming this is a test or otherwise misfire, so closing

[2022-04-04 14:41] #2500 closed

[2022-04-04 14:56] msbemba commented on #2377
@nov-26 Thank you for the feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2626

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-05 03:23] swieder opened #2629 "Token based auth also supported??"
For this:  https://docs.microsoft.com/en-us/mem/configmgr/core/clients/manage/cmg/configure-authentication#bkmk_note1

Note 1: This configuration requires the client has a [client authentication certificate](https://docs.microsoft.com/en-us/mem/configmgr/core/clients/manage/cmg/configure-authentication#pki-certificate), and only supports device-centric scenarios.

Doesn't this also support Configu

[2022-04-05 06:02] PaulKlerkx opened #2630 "Vague reference"
This section
----------
Verify the HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols registry subkey setting, as shown in [Transport layer security (TLS) best practices with the .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#configuring-security-via-the-windows-registry).
---------
is vague with the section it refere

[2022-04-05 07:01] msbemba commented on #2385
@svenhallauer Thank you for your feedback.  While is not mandatory to select the scope for MAM, Many productivity apps, such as the Microsoft Office apps, can be managed by Intune MAM. It is also used to manage data on your workforce's devices.

I don't think we need to remove the step as it is still an option available under All services > M365 Azure Active Directory > Azure Active Directory > Mo

[2022-04-05 07:07] msbemba commented on #2386
@svenhallauer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/issues/2386

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-05 07:43] msbemba commented on #2395
@BorisKornienko Thank you for your feedback. I have added information about this to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2632

If the error is still not fixed, I'd recommend you contact Microsoft support via the need help section on the admin center.

Thanks
Sri

[2022-04-05 07:50] msbemba commented on #2422
@jerryabo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2633

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-05 08:00] msbemba commented on #2431
@richard-artes Thank you for your feedback. Deploying Hybrid AD join devices by using intune and windows autopilot is different from this document.

We have a another document which talks about that in detail -https://docs.microsoft.com/en-us/mem/autopilot/windows-autopilot-hybrid

Hope this helps!

Thanks
Sri

[2022-04-05 08:11] msbemba commented on #2433
@jasonkatz424 Thank you for your feedback. There is a slight change in the broker app as it can be the Microsoft Authenticator for iOS, or either the Microsoft Authenticator or Microsoft Company portal for Android devices. I have updated the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2634

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-05 08:26] msbemba commented on #2436
@VathekVan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2635

Once the author approves, the change will be live.

Thanks
Sri

[2022-04-05 09:04] ztrhgf opened #2636 "Missing "Blocking personal devices" info for MacOS devices"
The page is missing information about how MacOS devices are recognized. I mean when it is taken as a corporate device and when as a personal device.

This information is available for other platforms...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e8c2d91-8808-a504-da13-526b152a5cfe
* Version Independent ID: 037b60a

[2022-04-05 10:54] jasonkatz424 commented on #2433
Thank you!

[2022-04-05 13:27] yogkumgit commented on #2362
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Egoorbis Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 13:27] #2362 closed

[2022-04-05 13:33] yogkumgit commented on #2245
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rbishop-etq Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 13:33] #2245 closed

[2022-04-05 13:34] yogkumgit commented on #2202
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sufuruka Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 13:46] #2202 closed

[2022-04-05 13:52] manuelsinger-msft opened #2637 "Version 2203 opt-in script is pointing to EnableEarlyUpdateRing2111.exe"
Link to the [Version 2203 opt-in script](https://go.microsoft.com/fwlink/?linkid=2099733) is still pointing to EnableEarlyUpdateRing2111.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d91b3bd0-c3bb-b144-619c-33d958e14c95
* Version Independent ID: d91b3bd0-c3bb-b144-619c-33d958e14c95
* Content: [Checklist for 2203 -

[2022-04-05 13:58] #2089 closed

[2022-04-05 14:04] #2068 closed

[2022-04-05 14:06] yogkumgit commented on #2031
@msbemba Thank you very much for the contribution and updating the documentation with PR. @chitch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 14:07] #2031 closed

[2022-04-05 14:23] yogkumgit commented on #2102
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ChadSimmons Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 14:24] #2102 closed

[2022-04-05 14:42] yogkumgit commented on #2270
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rjohnstonmcsa Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 14:42] #2270 closed

[2022-04-05 14:44] yogkumgit commented on #2253
@msbemba Thank you very much for the contribution and updating the documentation with PR. @thomasforde Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 14:46] #2183 closed

[2022-04-05 14:47] yogkumgit commented on #2312
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DuncanFairley Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 14:50] yogkumgit commented on #2144
@msbemba Thank you very much for the contribution and updating the documentation with PR. @maiwa Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 14:50] #2144 closed

[2022-04-05 14:54] yogkumgit commented on #2184
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Coopem16 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 14:54] #2184 closed

[2022-04-05 14:56] yogkumgit commented on #1887
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Mobazzar Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 14:56] #1887 closed

[2022-04-05 14:58] yogkumgit commented on #1444
@msbemba Thank you very much for the contribution and updating the documentation with PR. @hilde-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 15:20] yogkumgit commented on #1931
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ssmiller60 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 15:22] #1931 closed

[2022-04-05 15:27] yogkumgit commented on #1597
@msbemba Thank you very much for the contribution and updating the documentation with PR. @maximvelichko Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 15:27] #1597 closed

[2022-04-05 15:31] yogkumgit commented on #1465
@msbemba Thank you very much for the contribution and updating the documentation with PR. @fox-on-the-run Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 15:33] #1465 closed

[2022-04-05 15:35] yogkumgit commented on #1695
@msbemba Thank you very much for the contribution and updating the documentation with PR. @aikensam Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 15:35] #1695 closed

[2022-04-05 17:03] akhenax opened #2638 "Examples for creating intunemac packages succcessfully"
[Enter feedback here]
example
MacOS  11.2.1
assumptions: IntuneAppUtil and source pkg are in the same directory (Desktop)
./IntuneAppUtil -c ~/Desktop/SourceFile/source.pkg -o ./ -v

MacOS 12.3
zsh: abort errors.  Will not create package successfully.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54e4efd6-d1de-dba7-6ae

[2022-04-05 21:03] crosscontrol opened #2639 "Potentially conflicting advice"
This site contains the following section that seems to state devices should only be registered through Endpoint Manager for testing. Additionally it states to use the Partner Center which, if I understand the wording, is going to be retired soon:

This seems to conflict with [this page](https://docs.microsoft.com/en-us/mem/autopilot/manual-registration) that says:

Plus it says Intune is the:

Hop

[2022-04-05 22:29] Brenduns commented on #2619
@tomsull22   Hello Tom, an update is now on the way.  As it turns out, the option you've called attention to wasn't previously disclosed by our product team to the content team, and the UI has failed to describe its use. Here are the missing details.  This information will be added to this article, as well as to the [EDR profile details](https://docs.microsoft.com/en-us/mem/intune/protect/endpoint

[2022-04-05 22:29] #2619 closed

[2022-04-06 07:40] msbemba commented on #2445
@Ikuko-Konno Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2640

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-06 08:04] msbemba commented on #2458
@JeffsRealm Thank you for your feedback. The URL for the company portal would be https://portal.manage.microsoft.com/

Microsoft uses a go.microsoft.com/fwlink in documents for the Admin center and other Microsoft product-related URLs. That is why you do not see the exact URL in the document.

Hope this helps!

Thanks
Sri

[2022-04-06 08:08] o-l-a-v commented on #2210
I did not find any Microsoft Feedback on this, so I created it.

* https://feedbackportal.microsoft.com/feedback/idea/36f5aabb-80b5-ec11-a81c-000d3a7ce453

[2022-04-06 12:10] sokarblue opened #2641 "Functional"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff4c5218-bbe4-110c-c74d-3eed1179ac61
* Version Independent ID: b7c148dc-574b-fbed-7637-29699f3eb97a
* Content: [Configure the Microsoft Managed Home Screen app - Microsoft Intune](https://docs.microsoft.com/en-us/mem/intune/apps/app-configuration-mana

[2022-04-06 15:18] yogkumgit commented on #2200
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Selimachak Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-06 15:18] #2200 closed

[2022-04-06 17:46] stmahoney commented on #1644
I worked with a customer with this same question and we found that when a User is targeted for both the Managed App and Managed Device with different configurations the Managed App configuration would always win.  Having the same configuration did not seem to have an issue, only when the settings would differ between the two channels.  Working with MS Support it was determined this behavior was by

[2022-04-06 18:22] ErikjeMS commented on #2142
@danmyhre We've replaced that line in the doc with the following note:
Cloud PCs aren't created with Secure Boot enabled and Cloud PCs don't support BitLocker. We recommend excluding these two settings from compliance policies targeting Cloud PCs.
Also, we've added a FAQ item here:
https://docs.microsoft.com/windows-365/enterprise/known-issues-enterprise#cloud-pc-reports-as-not-compliant-for-compl

[2022-04-06 18:22] #2142 closed

[2022-04-07 00:15] danmyhre commented on #2142
Great - thanks for the update!!

[2022-04-07 02:05] yogkumgit commented on #2232
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rconiv Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-07 02:05] #2232 closed

[2022-04-07 02:28] yogkumgit commented on #2293
@msbemba

[2022-04-07 02:52] yogkumgit commented on #2465
@Zephyrusg Thank you very much for the contribution and updating the documentation with PR. @chiners68 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-07 02:52] #2465 closed

[2022-04-07 02:54] yogkumgit commented on #2459
@lenewsad Please help us in resolving this issue. Thanks

[2022-04-07 02:56] yogkumgit commented on #2457
@lenewsad Please help us in resolving this issue. Thanks

[2022-04-07 02:58] yogkumgit commented on #2454
@Erikre Please help us in resolving this issue. Thanks

[2022-04-07 02:59] yogkumgit commented on #2451
@Brenduns Please help us in resolving this issue. Thanks

[2022-04-07 03:02] yogkumgit commented on #2428
@Smritib17 Please help us in resolving this issue. Thanks

[2022-04-07 03:04] yogkumgit commented on #2427
@Erikre Please help us in resolving this issue. Thanks

[2022-04-07 03:07] yogkumgit commented on #2389
@Smritib17 Please help us in resolving this issue. Thanks

[2022-04-07 03:08] yogkumgit commented on #2390
@Smritib17 Please help us in resolving this issue. Thanks

[2022-04-07 03:09] yogkumgit commented on #2387
@Erikre Please help us in resolving this issue. Thanks

[2022-04-07 03:11] yogkumgit commented on #2379
@Brenduns Please help us in resolving this issue. Thanks

[2022-04-07 03:12] yogkumgit commented on #2358
@Erikre Please help us in resolving this issue. Thanks

[2022-04-07 03:17] yogkumgit commented on #2341
@msbemba Thank you very much for the contribution and sharing this explanation. @stchien Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2022-04-07 03:18] #2341 closed

[2022-04-07 03:19] yogkumgit commented on #2354
@msbemba Thank you very much for the contribution and sharing this explanation. @chrisclime Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-07 03:19] #2354 closed

[2022-04-07 03:22] yogkumgit commented on #2377
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nov-26 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-07 03:23] #2377 closed

[2022-04-07 03:25] yogkumgit commented on #2385
@msbemba Thank you very much for the contribution and sharing this explanation. @svenhallauer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-07 03:25] #2385 closed

[2022-04-07 03:30] yogkumgit commented on #2431
@msbemba Thank you very much for the contribution and sharing this explanation. @richard-artes Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-07 03:31] #2431 closed

[2022-04-07 03:32] yogkumgit commented on #2433
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jasonkatz424 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-07 03:32] #2433 closed

[2022-04-07 03:37] yogkumgit commented on #2458
@msbemba Thank you very much for the contribution and sharing this explanation. @JeffsRealm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-07 03:37] #2458 closed

[2022-04-07 04:53] mattsmacblog opened #2642 "Android Native VPN?"
Will there eventually be a "Android Native VPN" option?   Settings > Connections > More Connection Settings > VPN > Add VPN Profile  (which exists on Android 9+)

Connection type: Select the VPN connection type. Your options:

Check Point Capsule VPN
Cisco AnyConnect
SonicWall Mobile Connect
F5 Access
Pulse Secure
Citrix SSO
"GOOGLE NATIVE VPN" ????

---
#### Document Details

⚠ *Do not edit this

[2022-04-07 07:37] di6parn opened #2643 "Update sections about Apple Business Manager"
Apple have redesigned their Business Manager, so the documentation needs to be updated. For example, the section 'Renewing VPP tokens or Apple Business Manager location token' needs to be updated on how to retrieve a Server Token from ABM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6be83bf7-b364-60e3-1b4f-97bbde969

[2022-04-07 12:16] johnhaire89 opened #2644 "This doesn't work for me - can't remove company account for company I left months ago"
I'm not sure what the issue is but I was unable to set a PIN and unable to disconnect the inactive company account from the company I left months ago. This is on my personal PC.

I have information events in Applications and Services Logs->Microsoft->Windows->DeviceManagement-Enterprise-Diagnostics-Provider->Admin saying "Impersonation result. Result: (An attempt was made to reference a token that

[2022-04-07 17:55] RedVortex commented on #2503
I completely reinstalled everything and wiped it again, this time the device got deleted properly from intune. Not sure what happened on the first wipe that ended up in failed instead of deleted.

[2022-04-07 18:14] Dburke225 opened #2646 "Takes longer to Wipe than 30 mins"
The App selective wipe takes longer than 30 mins.

For me it goes over an hour.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e31bcb79-bae1-8398-9a3d-0559e4445e23
* Version Independent ID: ffb05284-00c1-a071-9683-402b1ce93e3c
* Content: [How to wipe only corporate data from apps - Microsoft Intune](https://docs.micros

[2022-04-07 19:29] Brenduns commented on #2140
@simonkw2000   The product group was able to provide some additional details for the event IDs, which I've added to the docs. That should show up in the live docs in a day or so.

[2022-04-08 01:22] IvyMS1990 opened #2647 "Miss one prerequisite: the location of Azure tenant and SCCM SCP server should be the same"
[Enter feedback here]
There is one more prerequisite. During onboarding, the service check the GEOLocation for tenant and the service. Thus, if the location are different, onboarding will failed with error code 400. I encounter this issue when the location is different. It cannot onboard to MEMAC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-04-08 13:15] DRCeccato opened #2648 "Apps Available for Install on ADE devices enrolled with out user affinity"
If you have devices enrolled through ADE with out user affinity, for example in an educational lab environment, and have software assigned as "available for enrolled devices" where do the apps appear for install if the Company Portal doesn't work on devices enrolled with out user affinity?

Is there a way to configure the Company Portal to see apps that are "available for enrolled devices" with ou

[2022-04-08 13:21] SLeuthold opened #2649 "Docs article refers to "Sample sharing for all files", however Intune blade says "Block sample sharing for all files ""
Docs article refers to "Sample sharing for all files", however Intune blade says "Block sample sharing for all files
". Does this setting block or allow? Please update docs to clarify :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19c5d836-1b10-7c46-ab3f-a1d845eb557b
* Version Independent ID: 9c5f53d8-28c6-05bf-9ee3

[2022-04-08 14:15] MHimken opened #2650 "Encoding specifications unclear"
Hi everyone,

can you please clarify if the required encoding is UTF-8 or UTF-8-BOM? We had a script that without switching to UTF-8-BOM didn't work. Mind you it was a script copied from github.

Regards
Martin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35a1251-2323-4239-85d7-ca21f44cf93a
* Version Independent ID:

[2022-04-08 19:47] AdamGrossTX opened #2653 "What does Hightest mean when referring to priority for ESP?"
The docs say that Highest priority wins.  The ESP list is numerical but is also sorted from least to greatest with Default at the bottom of the list. When you say highest, does this refer to the displayed order with 1 being the literal highest in the list or highest as in the ESP with the largest number wins?

Also, I know this isn't part of docs, but it would be great if that was actually listed

[2022-04-08 20:22] Brenduns commented on #2649
@SLeuthold   Thanks for this question. The CSP for this setting _should_ be Configuration/SampleSharing found on this content page (but I am still seeking that confirmation): https://docs.microsoft.com/en-us/windows/client-management/mdm/windowsadvancedthreatprotection-csp   That CSP supports sharing all, or none.

If that's the correct CSP, then the setting name in the UI is a bit off (not an unk

[2022-04-09 04:09] yogkumgit commented on #2386
@msbemba Thank you very much for the contribution and updating the documentation with PR. @svenhallauer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-09 04:09] #2386 closed

[2022-04-09 04:10] yogkumgit commented on #2340
@msbemba Thank you very much for the contribution and updating the documentation with PR. @RHPhilipsen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-09 04:11] #2340 closed

[2022-04-09 15:28] taikuli opened #2655 "How to ensure, iOS considers contacts as "managed" and thus protects from unmanaged apps"
Hello,

I had an email profile configured which only synced contacts and expected the managed contacts to be inaccessible to unmanaged apps. However, tests showed that the contacts were in fact accessible to unmanaged apps.

I had **Allow users to change sync settings** set to **Yes** and only after I changed this to **No**, the contacts were inaccessible to unmanaged apps.

I don't know much abou

[2022-04-09 17:21] rahuljindal1906 opened #2657 "Incorrect coining 'CMG Software Update Point'"
The following text in the document has incorrect description of CMG. In my opinion, CMG is just an Azure cloud service that relays the client requests back to ConfigMgr on-prem resources like MP and SUP over internet and VPN (if configured in boundary groups). CMG doesn't host any site roles apart from acting as content source location.

"Clients now prefer to scan against a cloud management gatew

[2022-04-10 05:24] JobyGP opened #2658 "Hi Team , reference link given for "Prefer cloud-based software update points" for BG settings giving HTTP 404 error "https://docs.microsoft.com/en-us/servers/deploy/configure/boundary-groups-software-update-points.md#bkmk_prefer_cmgsup " , kindly update the correct link , Thanks , Joby"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc51f77d-9942-44cc-2c0c-b0629cf5c59f
* Version Independent ID: fc51f77d-9942-44cc-2c0c-b0629cf5c59f
* Content: [What's new in version 2203 - Configuration Manager](https://docs.microsoft.com/en-us/mem/configmgr/core/plan-design/changes/whats-new-in-ve

[2022-04-10 06:49] meowjesty opened #2660 "Symbol � is found 7017 times in these docs."
I was reading the page https://docs.microsoft.com/en-us/mem/configmgr/develop/core/understand/sqlviews/sample-queries-collections-configuration-manager and saw that the first code sample

[code]

contains this � symbol. Is this intended (or is this an issue on my end)? I'm seeing this in both Firefox and Edge.

Searching this repo for � yields a bunch of results.

[2022-04-10 19:41] ajf8729 commented on #2218
While the page mentions "Allow access to all hosts via port 80 (HTTP), 443 (HTTPS), and 123 (UDP/NTP)" near the top, further done in the same page, under each section, it appears to describe specific hosts and port(s) required for each part to function. Perhaps the bit at the top part just needs to be clarified a bit more, or removed in favor of a reference table describing each URL, port, and dir

[2022-04-11 02:56] amopportunities commented on #227
Huge issue, how do we recover the PIN if it is no longer displayed?

[2022-04-11 06:02] msbemba commented on #2466
@Canis-Lupis Thank you for your feedback. This feature is not available currently on the windows 10 desktop and this is by design. You can post this as a feature request (On our main feedback portal -https://feedbackportal.microsoft.com/) to our dev/product team and they will be able to respond back to you with the reasons why it is not supported yet and if they have plans to release this.

Hope t

[2022-04-11 07:02] msbemba commented on #2325
@enricogiacomin Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2661

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-11 07:09] msbemba commented on #2339
@austingsmith Thank you for your feedback. I found most of them to be accurate, however, the feature for Azure AD roles is not under preview. So We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2662

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-11 07:17] msbemba commented on #2439
@JLangthaler Thank you for your feedback. I could locate the reports under Apps > App protection status > Reports and I'm able to test this in multiple tenants.

![image](https://user-images.githubusercontent.com/45987684/162684304-e1c6cf05-beba-4b5c-b621-cbf3c4bb5079.png)

Hope this helps!

Thanks
Sri

[2022-04-11 07:19] msbemba commented on #2439
@JLangthaler Thank you for your feedback. Sorry about the delay. We have made changes via PR#https://github.com/MicrosoftDocs/memdocs/pull/2663

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-11 07:28] msbemba commented on #2455
@Eurosome Thank you for your feedback.  Autopilot Reset only removes data in the user profile, not across the entire drive. So if your users are saving data outside their profile it will be available in windows.old. Autopilot Reset basically only removes the user profile instead of wiping the entire OS drive.

I assume there are no changes needed for now. If you still see the user's profile inform

[2022-04-11 08:38] aseflova opened #2664 "Licensing"
Hi, I am missing information about licensing - who needs to have license assigned - the user that is providing help (support stuff that is connecting to other device), the user that needs help, or both? This is important to know for estimating the number of licenses that needs to be purchased.
Thanks

[2022-04-11 08:39] #2664 closed

[2022-04-11 08:40] aseflova opened #2665 "Licensing"
Hi, I am missing information about licensing - who needs to have license assigned - the user that is providing help (support stuff that is connecting to other device), the user that needs help, or both? This is important to know for estimating the number of licenses that needs to be purchased.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-04-11 10:57] msbemba commented on #2490
@00mgod Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2666

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-11 11:16] msbemba commented on #2494
@mpartes Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2667

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-11 11:21] msbemba commented on #2498
@timkmsft Thank you for your feedback. I have tested and does not look like we have an option to inject the logs to Sentinel or to Endpoint manager. However, since this is a new feature request you can provide these details through the main feedback portal and our Dev/Product team will look into it.

Main feedback portal- https://feedbackportal.microsoft.com/
Hope this helps!

Thanks
Sri

[2022-04-11 11:23] msbemba commented on #2503
@RedVortex Thank you for your feedback. This could have been a bug at that time when you reported the issue. I'm glad that it is working fine now. In case, the issue reoccurs you can report it directly to our Support team via the need help section on the admin center so that they can verify if this is a bug or an ongoing issue.

Hope this helps!

Thanks
Sri

[2022-04-11 15:37] Brenduns commented on #2649
Tracking> Include https://github.com/MicrosoftDocs/memdocs/issues/2670

[2022-04-11 15:40] msbemba commented on #2523
@alfonso-rodriguez-2022 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2671

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-11 15:55] msbemba commented on #2555
@LijuV-MSFT Thank you for your feedback. I think both give the same permission, I have made the changes via PR#https://github.com/MicrosoftDocs/memdocs/pull/2672

I'll wait for the author to approve, Once this is approved the changes will be live.

Thanks
Sri

[2022-04-11 16:04] msbemba commented on #2567
@davidpaMSFT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2675

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-11 16:08] msbemba commented on #2569
@infoachieve Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2676

Once the author confirms, the changes will be live.

Thanks
Sri

[2022-04-11 16:29] Brenduns commented on #2555
This issue and now the PR are pending feedback from PM/Dev. Stay tuned.

[2022-04-11 17:06] jeffbryantmsft opened #2677 "Add note to call out AADDS"
In the Prerequisites section, consider adding a note that Intune is not supported if the session hosts have been added to Azure AD Domain Services as per (https://docs.microsoft.com/en-us/azure/virtual-desktop/prerequisites#:~:text=If%20you%27re%20joining%20session%20hosts%20to%20an%20Azure%20AD%20DS%20domain%2C%20you%20can%27t%20manage%20them%20using%20Intune).

It is easy to miss this since the

[2022-04-11 17:48] #2339 closed

[2022-04-12 09:21] msbemba commented on #2490
@00mgod Thank you for your feedback. I have got a confirmation that the article is correct as-is. In the MAM user scope setting description, the following example is given:
If you want to only manage the device, then choose None, and configure the MDM user scope.
This is saying: If you want to only manage the device, then choose None for MAM user scope (remember, this example is under the MAM user

[2022-04-12 10:12] timkmsft commented on #2498
Ah great, thank you very much Sri. I have opened a feedback request and hopefully its something that other customers may also want to see.
Much appreciated.

[2022-04-12 12:08] Mihaelaalexandru opened #2678 "Avon"
Mihaela M Alexandru

[Introduceți feedbackul dvs. aici]

033
---
#### Detalii document

⚠ *Nu editați această secțiune. Este necesară pentru asocierea prin link a problemelor între docs.microsoft.com și GitHub.*

* ID: f0cd5875-7172-2544-24d6-495aff701d2d
* Version Independent ID: 7c59e41f-8802-ed50-83e5-4cb21ddf593a
* Content: [Get the Intune Company Portal app](https://docs.microsoft.com/ro-ro/m

[2022-04-12 12:10] Mihaelaalexandru commented on #2678
Bună ziua!

[2022-04-12 13:29] msbemba commented on #2576
@lesca Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2679

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-12 13:33] msbemba commented on #2578
@lberenberg Thank you for your feedback. We have not had any other feedback about the tool. Having said that you can contact the support team directly via the need help section on the admin center so that they can verify and confirm if this is a bug or if it can be fixed.

Hope this helps!

Thanks
Sri

[2022-04-12 13:40] msbemba commented on #2579
@Martony78 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2680

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-12 13:50] msbemba commented on #2581
@danbu Thank you for your feedback. We have made changes to document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2681

You can Type about:intunehelp in the address box. to follow the instructions and share logs.

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-12 14:59] msbemba commented on #2596
@lemondave Thank you for your feedback. This sounds like a bug to me, However, The most recent version of remote help is 4.0.0.0. I'd recommend you to contact support via the need help section on the admin center to see if the support team can file a bug or fix this issue.

Hope this helps!

Thanks
Sri

[2022-04-12 15:05] Brenduns commented on #1810
@noblevarghese   We've passed this information on to the development/PM team some time back so it could be investigated. That doesn't appear to have been completed, or to be a current priority, and I believe the script has remained unchanged. If you continue to have issues with the script, I recommend opening a support call to seek assistance, which can bring more urgency to getting investigation

[2022-04-12 15:05] #1810 closed

[2022-04-12 15:47] Mihaelaalexandru opened #2683 "Avon"
[Introduceți feedbackul dvs. aici]

---
#### Detalii document

⚠ *Nu editați această secțiune. Este necesară pentru asocierea prin link a problemelor între docs.microsoft.com și GitHub.*

* ID: f0cd5875-7172-2544-24d6-495aff701d2d
* Version Independent ID: 7c59e41f-8802-ed50-83e5-4cb21ddf593a
* Content: [Get the Intune Company Portal app](https://docs.microsoft.com/ro-ro/mem/intune/user-help/sign-

[2022-04-12 16:22] yogkumgit commented on #2523
@msbemba Thank you very much for the contribution and updating the documentation with PR. @alfonso-rodriguez-2022 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-12 16:22] #2523 closed

[2022-04-12 16:25] aczechowski commented on #2637
It looks like this is already resolved. It's pointing to the 2203 script now.

[2022-04-12 16:25] #2637 closed

[2022-04-13 07:33] MCIglo opened #2685 "Missing clarification about deployment of each application"
As far as I tested - and that is not very far yet - you do not need to have the application itself deployed to the desired user/device.

So let's say you have an Application Group "Base install" which includes the applications "Firefox" and "Chrome".
It is enough to deploy "Base install" to the desired user/device, You do not have to deploy "Firefox" and "Chrome" themselves.

But what happens, if

[2022-04-13 11:02] MathiasAaron opened #2686 "Force Intune Sync on macOS corporate"
Intune Company Portal is not installed on a macOS corporate device and hence it is not possible to force a policy update that way.
The instructions on this page apply to only BYOD devices and that is not clearly documented here.

It would really help if the guidance is updated to refelct that this is for BYOD scenario's.
It would also help if an alternate method is advised to force policy updates

[2022-04-13 12:52] msbemba commented on #2601
@houkoku Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2687

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-13 12:55] msbemba commented on #2604
@jamiepassa Thank you for your feedback. Remote help is generally available now and the same has been updated in the document.

Hope this helps!

Thanks
Sri

[2022-04-13 12:58] msbemba commented on #2605
@Dburke225 Thank you for your feedback. As mentioned in the document, the Wipe action restores a device to its factory default settings. The user data is kept if you choose the Retain enrollment state and user account checkbox. Otherwise, all data, apps, and settings will be removed.A wipe is useful for resetting a device before you give the device to a new user, or when the device has been lost o

[2022-04-13 13:04] msbemba commented on #2613
@mikerobyn Thank you for your feedback. It is now called Microsoft defender for endpoint admin console. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2688

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-13 13:13] msbemba commented on #2641
@sokarblue Thank you for your feedback. The Managed Home Screen provides IT admins the ability to customize their devices and to restrict the capabilities that the end user can access. Not sure, what exactly is the functional requirement on Managed Home Screen.

If you would like to see more information or have some suggestions on this document, please let us know.

Hope this helps!
Thanks
Sri

[2022-04-13 17:35] PJMarcum opened #2689 "Missing Info About Automated Provisioning"
I'm not certain if this is a docs issue or a bug in the product but it's not mentioned in the docs that during provisioning "Users" is removed from the User Rights Assignment "Shutdown the system" which also removes standard users ability to restart the device. Effectively this also means that they registry changes below are doing nothing. However, the registry changes are a good thing because whe

[2022-04-13 22:32] karen-gre opened #2690 "Microsoft Store for Business: Add Note that It's Being Retired"
This page would lead admins to setup a Business App in Intune only to be met with warnings that the service is being retired in Q1 of 2023. Might want to warn admins ahead of time.
Link the to the announcement: https://techcommunity.microsoft.com/t5/windows-it-pro-blog/evolving-the-microsoft-store-for-business-and-education/ba-p/2569423

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-04-14 12:19] Karr opened #2691 "Why this over Quick Assist?"
I breifly looked at this 'PREMIUM' add on and one thing that needs to be addressed as many admins will think the same thing we ALL think.  Why use this when QUICK ASSIST is already built into Windows 10/11 ??  Come on, please put something right in the beginning to sell this or we are out of here.  All this work and headache for something we already have.  Give us the benefits as I don't see any.

[2022-04-14 12:28] bplasmeijer opened #2692 "Android12 not working for intune - BLOCKER"
[Android 12]

The intune app doesn't work on Android12, see https://docs.microsoft.com/en-us/answers/questions/679297/intune-company-portal-enrollment-fails-after-andro.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 709b2e42-8daf-0af2-d3de-6fd6d450b8fc
* Version Independent ID: a27d1326-46c5-2a0a-f37b-80c9e861bd3d

[2022-04-14 14:50] MarineBDCoru opened #2693 "Teams Meeting Rooms licenses"
Hello!
It seems that the licenses "Teams Meeting Rooms" are included Intune service.
https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-licensing
It would be needed to add these licenses in this article.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73c7bea7-ccff-ca28-35e4-820494059bf6
* Version Indep

[2022-04-15 02:50] buhibu9 opened #2695 "About Compliance Policy [Require encryption of data storage on device] of Hololens"
https://docs.microsoft.com/en-us/mem/intune/protect/compliance-policy-create-windows#windows-holographic-for-business

There seems to be an inconsistency between the above content and the following docs.
Which is correct?

https://techcommunity.microsoft.com/t5/intune-customer-success/intune-support-tip-managing-compliance-on-hololens-2-with/ba-p/2464609
----------------------------
Require encryp

[2022-04-15 14:52] yogkumgit commented on #2655
@MandiOhlinger Please help us in resolving this issue. Thanks.

[2022-04-15 14:55] yogkumgit commented on #2648
@lenewsad Please help us in resolving this issue. thanks

[2022-04-15 14:58] yogkumgit commented on #2643
@Erikre Please help us in resolving this issue. Thanks

[2022-04-15 15:00] yogkumgit commented on #2638
@Erikre Please help us in resolving this issue. Thanks

[2022-04-15 15:01] yogkumgit commented on #2636
@lenewsad Please help us in resolving this issue. Thanks

[2022-04-15 15:04] yogkumgit commented on #2615
@Erikre Please help us in resolving this issue. Thanks

[2022-04-15 15:10] yogkumgit commented on #2564
@Erikre Please help us in resolving this issue. Thanks

[2022-04-15 15:14] yogkumgit commented on #2517
@Erikre

[2022-04-15 15:16] yogkumgit commented on #2511
@Brenduns Please help us in resolving this issue. Thanks

[2022-04-15 15:30] yogkumgit commented on #2489
@lenewsad Please help us in resolving this issue. Thanks

[2022-04-15 16:06] Brenduns commented on #2511
@MarcLaf    Helo Marc, for that setting, I'll be updating the docs later today remove the system variable example. The settings are beholden to the CSP and don't provide functionality they don't include. Today, I see the CSP this is based on (found at https://docs.microsoft.com/windows/client-management/mdm/firewall-csp#filepath) doesn't document the path with a variable example.

I will also be r

[2022-04-15 16:06] #2511 closed

[2022-04-15 16:44] Brenduns commented on #2695
@buhibu9   Thanks for this issue, and your question is a good one.  I've reached out to our development team on this, as they are the source of truth for the docs and what the product officially supports should problems arise.  While I don't doubt the details in the support post as to the settings working with HoloLens, it might take some time for the product team to evaluate and confirm official

[2022-04-16 03:33] yogkumgit commented on #2455
@ Thank you very much for the contribution and sharing this explanation. @ Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-16 03:35] #2455 closed

[2022-04-16 03:39] yogkumgit commented on #2438
@MandiOhlinger Please help us in resolving this issue. Thanks

[2022-04-16 03:43] yogkumgit commented on #2382
@Erikre Please help us in resolving this issue. Thanks

[2022-04-16 03:53] yogkumgit commented on #2466
@Canis-Lupis Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-16 03:53] #2466 closed

[2022-04-16 03:54] yogkumgit commented on #2468
@msbemba Thank you very much for the contribution and sharing this explanation. @JakeMoe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-16 03:54] #2468 closed

[2022-04-16 03:55] yogkumgit commented on #2494
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mpartes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-16 03:56] #2494 closed

[2022-04-16 03:57] #2498 closed

[2022-04-16 03:58] #2503 closed

[2022-04-16 04:03] yogkumgit commented on #2565
@msbemba Thank you very much for the contribution and updating the documentation with PR. @deanellerby Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-16 04:04] #2565 closed

[2022-04-16 04:05] yogkumgit commented on #2567
@msbemba Thank you very much for the contribution and updating the documentation with PR. @davidpaMSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-16 04:06] #2567 closed

[2022-04-16 04:10] yogkumgit commented on #2578
@msbemba Thank you very much for the contribution and sharing this explanation. @lberenberg Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-04-16 04:11] #2578 closed

[2022-04-16 04:18] yogkumgit commented on #2596
@msbemba Thank you very much for the contribution and sharing this explanation. @lemondave Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-04-16 04:18] #2596 closed

[2022-04-16 04:19] yogkumgit commented on #2601
@msbemba Thank you very much for the contribution and updating the documentation with PR. @houkoku Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-17 14:38] #2601 closed

[2022-04-17 14:39] yogkumgit commented on #2604
@msbemba Thank you very much for the contribution and sharing this explanation. @jamiepassa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-17 14:39] #2604 closed

[2022-04-17 14:47] yogkumgit commented on #2605
@msbemba

[2022-04-17 14:51] #2641 closed

[2022-04-17 14:52] yogkumgit commented on #2642
@mattsmacblog Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-17 14:52] #2642 closed

[2022-04-17 14:53] yogkumgit commented on #2644
@msbemba Thank you very much for the contribution and sharing this explanation. @johnhaire89 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-04-17 14:53] #2644 closed

[2022-04-17 14:55] yogkumgit commented on #2646
@Dburke225 Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that val

[2022-04-17 14:55] #2646 closed

[2022-04-18 06:01] abrownKGF opened #2696 "remote Help versions"
Hi
**What is happening with version numbering for Remote help?**
When  I first deployed the app it was 10.x
Now it is 4.0.0.0

**What Detection rules should I use?**
Below is a quote from the page, stipulating equal or greater than 10.0.x
How do I handle supersedence with version numbering now less than earlier in the year?
And bonus, with supersedence, should I uninstall first?

[code]

PS - I li

[2022-04-18 13:54] Dburke225 commented on #2646
Support is useless, I'm just dealing with it.

Dillon Burke
Assistant Systems Engineer
Qosina Corp. | QOSMEDIX
2002-Q Orville Drive North
Ronkonkoma, NY 11779 USA
T: +1 (631) 242-3000, ext. 421
Email: ***@***.******@***.***>
www.qosina.com<http://www.qosina.com>  www.qosmedix.com<http://www.qosmedix.com>
From: Yogesh Kumar ***@***.***>
Sent: Sunday, April 17, 2022 10:56 AM
To: MicrosoftDocs/memdoc

[2022-04-18 15:05] jbclarkman opened #2697 "Servicing channel option doesn't exist"
[Enter feedback here]
The "Semi-Annual Channel" Does not exist anymore in Intune for Servicing Channel.  Do you mean "Retail" instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e6d726f-bd44-d168-0af5-c0fe73e06eb9
* Version Independent ID: a87f06b1-f284-42db-a5ed-2cba46bdf2b9
* Content: [Use Intune to expedite Win

[2022-04-18 20:45] Brenduns commented on #2697
@jbclarkman    Thanks for this feedback.  Your correct that the Semi Annual was retired, and now is identified as *Retail*.  As it happens, _Retail_ is not the expected representation and will eventually update to be _Generally Available_, which identifies non-preview/beta releases.   With this change confirmed, I have a content update on the way.  The content will reference Generally Available in

[2022-04-18 20:45] #2697 closed

[2022-04-19 09:36] mikerobyn opened #2700 "Enforcement Scope not to be found as stated"
Hi,

the following steps do not seem to be up to date or might be incorrect:
"Sign in to [Microsoft 365 Defender portal](https://security.microsoft.com/) and go to Settings > Endpoints > Configuration Management > Enforcement Scope and enable the platforms for security settings management"
Enforcement Steps or "Configuartion Management" under Settings > Endpoints.

BR
Mike

---
#### Document Detai

[2022-04-19 10:01] sijucm opened #2701 "And No information on when the app complaints "work profile cannot be created""
The user is left with google searches in the wild world with n o useful information that can be guessed from the "very useful" microsoft error messages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50b13370-965f-0a72-9226-f119229ba68a
* Version Independent ID: 089ce4b0-bf8d-3936-82a9-e29029fc7df1
* Content: [Enroll d

[2022-04-19 12:05] yogkumgit commented on #2579
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Martony78 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-19 12:05] #2579 closed

[2022-04-19 12:16] yogkumgit commented on #2372
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MarcLaf Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-19 12:17] #2372 closed

[2022-04-19 12:19] #2422 closed

[2022-04-19 15:31] Air-Git opened #2702 "LoB store apps"
I think this section, under Account Setup, is not correct:
"LoB store apps, online store apps, and offline store apps that are assigned to any of the following objects:
- All Devices
- All Users
- A user group in which the user enrolling the device is a member with installation context set to User".

I think it means any LoB store app that is installed in user context, and any online store app, re

[2022-04-20 00:27] buhibu9 opened #2703 "There are too many typos on the Japanese site"
Please correct it promptly.

https://docs.microsoft.com/ja-jp/mem/intune/protect/certificate-connector-overview#task-categories

![image](https://user-images.githubusercontent.com/51809971/164122200-19fa5f22-e250-415e-93d9-e4cd34dc1cff.png)

QpcsRequestSuccess
QpcsImportRequestSuccess
ScrepRequestSuccess

Many others

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. I

[2022-04-20 00:35] buhibu9 commented on #2695
Thank you in advace

[2022-04-20 14:46] #2703 closed

[2022-04-20 14:52] MarineBDCoru opened #2704 "Devices cannot be add by Serial Number"
Hello,

I believe that the point 7. of "Step 2. Use your key to download a token from Apple" needs to changed.
It's not possible to add devices to ABM by serial number anymore. Now we have only two options: Apple Customer number or Reseller Number. To add an device manually, the only option seems to be Apple Configurator.

I attached some Apple documentation:
· https://support.apple.com/fr-fr/guid

[2022-04-20 16:53] SCIS-guy opened #2705 "Typo"
There is a typo under the first bullet point of "Home Screen App Order." The word "the" was misspelled as "tThe" and is driving my OCD crazy. Please, fix it and use a spell check next time. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8976417-16d9-58c1-8831-5c06aee65ad2
* Version Independent ID: b00e84d9-a24

[2022-04-20 20:32] deanellerby opened #2706 "No additional licensing required for Remote Help? You sure?!"
The table suggests that Remote Help doesn't require "additional licensing", when in reality it actually requires significant additional licensing, to the extent that there is almost no point in including it in the table at all. No organization will purchase this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bd171a5-

[2022-04-21 03:06] IvyMS1990 opened #2707 "Certificate of management.azure.com (Azure public cloud) does not have cloudapp.net"
According to this doc, SCCM need internet access to managment.azure.com. But, in network trace, this url is translated to xxxx.cloudapp.net. The certificate associated with this url only have CName like management.com, does not include cloudapp.net. Like below. The mismatch cause network issue based on cx's network rules. Can the cert add cloudapp.net to alternative name?

![image](https://user-im

[2022-04-21 03:55] infoachieve commented on #2569
Thanks for the update.

[2022-04-21 03:58] yogkumgit commented on #2439
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JLangthaler Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-21 03:58] #2439 closed

[2022-04-21 04:00] yogkumgit commented on #2325
@msbemba Thank you very much for the contribution and updating the documentation with PR. @enricogiacomin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-21 04:00] #2325 closed

[2022-04-22 10:11] yogkumgit commented on #2513
@msbemba Thank you very much for the contribution and updating the documentation with PR. @brsieff Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-22 10:11] #2513 closed

[2022-04-22 11:56] Stroell opened #2708 "SQL Server - unclear licensing term"
Hi PG,

there seems to be an unclear licensing term regarding the included SQL Version.

If I read the article here on Docs, I understand it in a way where I can have as many SQL Servers (not instances) as I need to run my infrastructure.
One example would be to have a separate SQL Server for hosting the MP replica DB, which is explicitly mentioned in the included use rights.
Other examples would

[2022-04-23 14:15] abrownKGF commented on #2596
The version numbers are different in the registry and in the file properties. The version number has changed in the registry (4.0.0.0), but not in the details of the file (10.0.22467.1000), which is the app detention rules provided on this page.

![image](https://user-images.githubusercontent.com/103725370/164909382-ab6879f6-6983-43e9-8f23-028ade3ea967.png)

Be nice if version numbers were updated

[2022-04-25 11:52] merlecal opened #2711 "gone"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b8f349-8eaf-1d98-7962-6b6cc88c80e0
* Version Independent ID: a86da78e-d8c7-9986-b4e9-e4b3cbb891c9
* Content: [Manage devices with on-premises MDM - Configuration Manager](https://docs.microsoft.com/en-us/mem/configmgr/mdm/deploy-use/wipe-lock-reset-

[2022-04-25 14:46] johnjohnjohn87 opened #2714 "No mention of health check devices"
There is no mention here (on anywhere else I could find) of "CPC-Hth" devices, which I assume are used for health checks. This blog post implies that they are created during health checks, but you can imagine our surprise when we stumbled across them in our environment. https://techcommunity.microsoft.com/t5/healthcare-and-life-sciences/deploy-co-management-collections-for-windows-365-cloud-pc/ba-

[2022-04-25 18:51] ErikjeMS commented on #2714
Investigating with PM...
39258193

[2022-04-25 20:17] ErikjeMS commented on #2393
Investigating with PM...
39259529

[2022-04-25 20:21] ErikjeMS commented on #2343
Investigating with PM...
39259635

[2022-04-25 21:00] ErikjeMS commented on #1919
The following note was added: After your organization has purchased one or more Windows 365 licenses, the Windows 365 node in Microsoft Endpoint Manager will become active for management. At this point, you can provision Cloud PCs.

[2022-04-25 21:00] #1919 closed

[2022-04-26 04:15] Jlouden9 opened #2715 "Refers to a setting that no longer exists"
Hi,

In the section resolve conflicts for security baselines there are a couple of pointers to "Endpoint Security Configuration" this no longer exists. Might need to update the pointer and confirm that the baselines appear in that section as they don't appear in the device configuration area.

Endpoint security > Security baselines > select a baseline type > Profiles > select a baseline instance >

[2022-04-26 08:38] yogkumgit commented on #2653
@msbemba

[2022-04-26 08:38] yogkumgit commented on #2647
@msbemba

[2022-04-26 08:41] yogkumgit commented on #2613
@msbemba

[2022-04-26 08:44] yogkumgit commented on #2605
@Dburke225 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-26 08:44] #2605 closed

[2022-04-26 09:10] #2678 closed

[2022-04-26 09:10] #2683 closed

[2022-04-26 15:37] #2711 closed

[2022-04-26 15:45] aczechowski commented on #2708
Hi @Stroell thanks for the feedback. We reviewed the doc again and think it's consistent. It mentions, "The SQL Server license that's included with Configuration Manager supports _each instance_ of SQL Server" which I think aligns with the statement from the product terms. And ultimately, the product terms are official. This document is intended to supplement and help clarify. So I don't think the

[2022-04-26 16:05] aczechowski commented on #2629
Hi @swieder, thanks for the feedback. I think you're correct, if the device has a site token, then that works as well. We'll need to extend that note to include that point, and refer to the token auth article: https://docs.microsoft.com/en-us/mem/configmgr/core/clients/deploy/deploy-clients-cmg-token

[2022-04-26 16:16] swieder commented on #2629
Sounds good.  Looking forward to the update.

Thanks,
Steve Wiederrich
Mobile: 214-642-9333

From: Aaron ***@***.***>
Sent: Tuesday, April 26, 2022 11:05 AM
To: ***@***.***>
Cc: Steve ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/memdocs] Token based auth also supported?? (Issue #2629)

Hi @swieder<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fswieder&data

[2022-04-26 20:19] ErikjeMS commented on #2393
@CrazyDymond88 Here's the response from the PM:
Since Octoberish, we've been setting the Device Model to match the license of the created Cloud PC. Can you confirm confirm when you provisioned or to see if you can reprovision so they can get this desired behavior.

[2022-04-26 22:58] chblac opened #2718 "Differentiate between Scope Tags on Role and Role Assignment."
Both Role and Role Assignment have "Scope Tags".  How are they different?  When should each be used?  What happens if the Role defines Tag1, and the Role Assignment defines Tag2?  Does the user have Tag1, Tag2, Tag1+Tag2?  What if one of them defines the Default tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3eaa

[2022-04-26 23:06] chblac opened #2719 "Scope Groups need more clarity"
The explanation for "Scope (Groups)" needs improvement.  It currently says "a group containing the users/devices that the member above will be allowed to manage."  A different page, under "Scope Tag details", adds "You can only target groups that are listed in the Scope (Groups) of your role assignment."

Scope Groups constrain two things:
1. You can only target groups that are listed in the Scope

[2022-04-27 05:58] msbemba commented on #2665
@aseflova Thank you for your feedback. The add-on license needs to be assigned for both the user providing help and the user that needs help. This information has been added to the prerequisites section of the document.

Hope this helps!

Thanks
Sri

[2022-04-27 06:05] msbemba commented on #2677
@jeffbryantmsft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2720

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-27 06:24] aseflova commented on #2665
@msbemba Thank you for clarification. I hope Microsoft understands that the fact that both admin and user needs to be licensed means that nobody will purchase this addon because it does not make sense - the price in so high in comparison with competition and it only supports Windows where you can easily use several different solutions.

[2022-04-27 06:42] msbemba commented on #2690
@karen-gre Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2721

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-27 06:52] msbemba commented on #2691
@Karr Thank you for your feedback. I agree it is similar to quick assist, However, your question needs be to directed to the Product/dev team so that they can answer your queries or explain what's in the roadmap for remote help which will be better than quick assist.

For any product-related feedback, please raise them via our main feedback portal - https://feedbackportal.microsoft.com/ and one of

[2022-04-27 06:55] msbemba commented on #2665
@aseflova Thank you for your quick response. You make a fair point about the price being high. I'd recommend you raise this feedback on our main feedback portal - https://feedbackportal.microsoft.com/ and one of our dev/product team members will be able to explain why the price is high or if there are any roadmap items for remote help which could bring the cost down.

Hope this helps!

Thanks
Sri

[2022-04-27 07:00] msbemba commented on #2692
@bplasmeijer Thank you for your feedback. We are aware of this known issue and at this time, we’re aware of three device types that can have this issue. For more information, you can follow the blog- https://techcommunity.microsoft.com/t5/intune-customer-success/known-issue-android-devices-lose-access-to-intune-managed/ba-p/3249657

There are no changes needed in the document as this does not affe

[2022-04-27 07:33] msbemba commented on #2693
@MarineBDCoru Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2722

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-27 07:45] msbemba commented on #2700
@mikerobyn Thank you for your feedback. I was able to test and find the options in the admin center.

![image](https://user-images.githubusercontent.com/45987684/165467806-bf4f794b-ac0a-4858-b3e2-1b7ff83c1c28.png)

If you are still unable to locate, I'd recommend you contacting Microsoft support via the need help section on the admin center so that an engineer can work with you and fix this.

Than

[2022-04-27 07:50] msbemba commented on #2701
@sijucm Thank you for your feedback. This document is specifically created with steps to enroll devices and create an android work profile. We have documents that talk about troubleshooting android enrollment issues,

https://docs.microsoft.com/en-us/troubleshoot/mem/intune/troubleshoot-android-enrollment
https://docs.microsoft.com/en-us/troubleshoot/mem/intune/configure-android-enterprise-devices

[2022-04-27 07:59] aseflova commented on #2665
@msbemba Thank you for quick response

[2022-04-27 07:59] #2665 closed

[2022-04-27 09:10] msbemba commented on #2706
@deanellerby Thank you for your feedback. We have added the license requirement to the prerequisites section "Remote help add-on license for all IT support workers (helpers) and users (https://aka.ms/PremiumAddOnsDocs)"

Hope this helps!

Thanks
Sri

[2022-04-27 09:25] msbemba commented on #2515
@v-rechau I have received an update from the  owner of device configuration for Apple MDM that these settings do apply to personal devices and are available for devices enrolled using User Enrollment (screenshots attached):

Apple Dev Documentation:
![image](https://user-images.githubusercontent.com/45987684/165487122-a70d1688-cf6c-45ce-90b2-e8d15a9348c0.png)

Testing on a personal device

![image

[2022-04-27 09:39] msbemba commented on #2613
@yogkumgit The change is accurate as far as what I see in the tenant. So I have reopened the pull request after discussing it with the author.

Thanks
Sri

[2022-04-27 09:44] msbemba commented on #2647
@IvyMS1990 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2723

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-27 09:53] msbemba commented on #2653
@AdamGrossTX Thank you for your feedback. You are correct, “1” has the highest priority.

I agree it would be nice to have them listed directly in the portal where the ESPs are. Since this is a design change, it goes through the dev/product group. So I'd recommend you raise the feedback in the main feedback portal- https://feedbackportal.microsoft.com/ so one of our dev/product engineers will be a

[2022-04-27 16:09] yogkumgit commented on #2705
@colealbrecht Thank you very much for the contribution and updating the documentation with PR. @SCIS-guy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-27 16:09] #2705 closed

[2022-04-27 16:32] yogkumgit commented on #2691
@Karr Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-27 16:33] yogkumgit commented on #2692
@msbemba Thank you very much for the contribution and sharing this explanation. @bplasmeijer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-27 16:33] #2692 closed

[2022-04-27 16:37] yogkumgit commented on #2701
@msbemba Thank you very much for the contribution and sharing this explanation. @sijucm Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outco

[2022-04-27 16:37] #2701 closed

[2022-04-27 16:39] yogkumgit commented on #2706
@msbemba Thank you very much for the contribution and sharing this explanation. @deanellerby Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-27 16:39] #2706 closed

[2022-04-27 16:47] yogkumgit commented on #2653
@AdamGrossTX  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-27 19:32] brkdncr opened #2725 "VPP workflow is no longer valid."
Hi, the workflow for renewing VPP with Apple has changed significantly.  The steps and screenshots are no longer valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: babf49ae-ec79-e627-9dbf-2df2eb8909ab
* Version Independent ID: 90f3f372-9326-473e-3f82-e28e89853d49
* Content: [Get an Apple MDM Push certificate for Int

[2022-04-27 21:17] Smritib17 commented on #2389
@yogkumgit, the article has been updated.

[2022-04-27 21:19] Smritib17 commented on #2390
@yogkumgit, the article has been updated.

[2022-04-27 21:19] #2390 closed

[2022-04-27 21:19] #2389 closed

[2022-04-28 01:08] v-rechau commented on #2515
Hey @msbemba, I do not currently have a device with that issue. The original goal was to highlight a potential issue with the two documentation pages listed above.

Those settings are found under the heading:
**Settings apply to: Device enrollment, Automated device enrollment (supervised)**

According to the discussion on that PR and the Apple Dev Documentation provided, those settings apply to Us

[2022-04-28 04:18] yogkumgit commented on #2613
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mikerobyn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-28 04:18] #2613 closed

[2022-04-28 04:20] yogkumgit commented on #2653
@msbemba

[2022-04-28 04:26] yogkumgit commented on #2515
@msbemba

[2022-04-28 06:27] gbms311 opened #2726 "Word change in navigation guidance .... select a policy > Overview"
This info https://docs.microsoft.com/en-us/mem/intune/fundamentals/whats-new#updated-app-configuration-policies-list, should, be changed

from
... to view whether an app configuration policy has been assigned, navigate to [Microsoft Endpoint Manager admin center] > Apps > App configuration policies > _select a policy_ > **Overview**.

To
... to view whether an app configuration policy has been ass

[2022-04-28 06:35] hkusulja commented on #2389
Sorry, but where it is documented, what is referral, that Autopilot requires physical TPM and does not work with vTPM ? it should be normally working and from my test it also normally works on Windows 10 with VM with Windows 10 and Gen 2...

[2022-04-28 15:35] shashishailaj opened #2728 "Intune Graph APIs ( ADAL )"
The details on the page and examples still use old ADAL related library .

Are there any plans to update this content to MSAL . Also almost all of the Intune scripts in the [GitHub repository](https://github.com/microsoftgraph/powershell-intune-samples ) use old ADAL library . ADAL is supposed to be deprecated in the coming months. What is the guidance from customers on this ?

Are there any plans

[2022-04-28 15:39] tmccasland opened #2729 "No longer part of organization"
I am no longer with the organization who manages my device so I can't do step 1 listed below:

Remove a device
Follow these steps to remove a device you no longer need for work or school from Intune.
1. Sign in to the Company Portal app and select Devices.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de7015db-d547-9c5

[2022-04-28 16:08] cjr145 opened #2730 "Why aren't the required providers referenced here? The conversions fail if they are not present."
This doc should list the required providers like this blogger does:

https://model-technology.com/blog/how-to-convert-your-cloud-management-gateway-to-a-virtual-machine-scale-set/?msclkid=9c8590fac70911ec8c0b646f6ed5faea

Might also be nice to have some info on updating your DNS like the blog does too.

Thanks for listening.

-Curt

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-04-28 16:17] v-rechau commented on #2515
Here's a screenshot from the Intune portal that also implies those settings wouldn't apply to user enrollments, so this is quite the interesting discovery:
![image](https://user-images.githubusercontent.com/62122998/165798061-bb064e34-387c-43cd-9c32-ae5d800cb270.png)

[2022-04-28 17:56] aczechowski commented on #2730
Hi @cjr145. See the important note at the top of the section [Process to convert a CMG to a virtual machine scale set](https://docs.microsoft.com/mem/configmgr/core/clients/manage/cmg/modify-cloud-management-gateway#process-to-convert-a-cmg-to-a-virtual-machine-scale-set):

And also see the section on [Update or create a DNS CNAME](https://docs.microsoft.com/mem/configmgr/core/clients/manage/cmg/m

[2022-04-28 17:56] #2730 closed

[2022-04-28 21:16] Smritib17 commented on #2389
The following articles include a note - Configuration and compliance policies for Secure Boot and features leveraging vTPM (Virtual Trusted Platform Module) are not supported at this time for Azure Virtual Desktop VMs.

https://docs.microsoft.com/en-us/mem/intune/fundamentals/azure-virtual-desktop
https://docs.microsoft.com/en-us/mem/intune/fundamentals/azure-virtual-desktop-multi-session

[2022-04-28 21:55] scdfosbos opened #2732 "Conversion of Azure Active Directory hybrid devices to autopilot devices with non-user-driven deployment-profile now possible?"
Hello,

in the article https://docs.microsoft.com/en-us/mem/autopilot/existing-devices a note shows that

_Windows Autopilot for existing devices only supports user-driven Azure Active Directory and Hybrid Azure AD profiles. Self-deploying and pre-provisioning profiles are not supported._

As the mentioned article is from March 2022, I would like to know if a conversion of AzureAD hybrid joined (e

[2022-04-28 22:14] Brenduns commented on #2715
@jlouden9   Thanks for this feedback.  Yep, something went off the rails and the left-hand apparently had no idea what the right-hand was up to….  It turns out some time back a [**new Device Configuration report**](https://docs.microsoft.com/mem/intune/fundamentals/reports#device-and-user-check-in-status-operational) was released, which consolidates information not only about device configuration

[2022-04-28 22:14] #2715 closed

[2022-04-29 11:57] yogkumgit commented on #2704
@msbemba

[2022-04-29 12:55] therainkin opened #2733 "This document does not reflect the current Endpoint site's setup. it is not useful in it's current form."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c91281a-bdba-ff2d-6cb5-7ac45396397e
* Version Independent ID: 1a9e425f-7977-66be-eeb5-b41646de2d52
* Content: [Windows Autopilot motherboard replacement](https://docs.microsoft.com/en-us/mem/autopilot/autopilot-mbr)
* Content Source: [memdocs/autopil

[2022-04-29 15:39] aczechowski commented on #2733
Thanks @therainkin for the feedback. We have plans to review and revise the Autopilot content, so thanks for calling attention to this one.

[2022-04-29 17:14] Brenduns commented on #2715
Tracking internally via work item #14294636

[2022-04-29 18:13] AlexJerabek opened #2735 "Link to App Assure isn't working"
[Enter feedback here]

The line "Visit the [App Assure page](https://fasttrack.microsoft.com/dl/daa)" doesn't lead to a valid page.

![image](https://user-images.githubusercontent.com/38896772/165999665-84c8e4e3-7ede-4df9-80dd-1ec638573cc7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e05eade-991a-492e-d9a2-0103

[2022-04-29 19:40] lenewsad commented on #2702
Hi @yogkumgit I reached out to the product owner's and will update when I hear back.

[2022-05-02 05:47] davidpaMSFT opened #2736 "Company Portal always shows Configuration Manager apps on co-managed devices"
This wording: "You can configure the Company Portal to also show Configuration Manager apps" is incorrect because whether Company Portal will show Configuration Manager apps on co-managed devices is not configurable, i.e. it will always show Configuration Manager apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 030

[2022-05-02 08:42] msbemba commented on #2653
@AdamGrossTX Thank you for your feedback. I have added information about the priority via PR#https://github.com/MicrosoftDocs/memdocs/pull/2737

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-02 14:20] msbemba commented on #2293
@lethallunatic Thank you for your feedback. I will work on getting the screenshots updated.

Thanks
Sri

[2022-05-02 14:29] msbemba commented on #2704
@MarineBDCoru Thank you for your feedback. I'm currently checking with the author and will update the document if need be,

Thanks
Sri

[2022-05-02 15:39] davehop opened #2738 "Please update doc with following helpful details re: DEM account limitations"
Please update the article with detailed information to answer the following customer scenarios/questions...

(Q1)
Is the 1000 enrolled device limit based on the **total** number of devices enrolled by one DEM account? Or is that the number of **currently** enrolled devices? For example:

- We enroll 500 devices using a DEM account
- Before enrolling any more devices, we retire all of those enrolle

[2022-05-02 15:42] Brenduns commented on #2319
Requested an update from the product dev who has been tasked to review the implications from this PR to enrolment behavior/scenarios.

[2022-05-02 15:49] Brenduns commented on #2695
Bumped the ask with the product team contacts. Answer still pending.

[2022-05-02 16:09] Brenduns commented on #2649
When the profile setting of **Block sample sharing for all files** is set to **Yes**, the result is that the CSP is configured to block the sharing (set to 0).  When the setting is left _not configured_ which is both the Intune UI default and the CSP default, you'll Sample sharing is active (set to 1).

[2022-05-02 16:09] #2649 closed

[2022-05-02 17:04] alfonso-rodriguez-2022 opened #2739 "Please correct 'Andriod' should be 'Android'"
[Enter feedback here]

Here is the link:

It's also mispelled in the Title.

https://docs.microsoft.com/en-us/mem/intune/fundamentals/whats-new#support-for-audio-alert-on-**andriod**-corporate-owned-work-profiles-and-fully-managed-cobo-and-cope-devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16c28db-1e8e-31fa-6

[2022-05-02 17:15] GitBurgr opened #2740 "MSFT SE - Suggestion for Note in MECM Bitlocker TS - HAADJ = AAD escrow"
Please make a note to state that if during an OSD TS, the computer is HAADJ prior to the step where the Bitlocker step escrows to AAD, the bitlocker-api will escrow to AAD first.

We have internal docs and case numbers proving this and it could prevent some cases.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-05-02 18:21] jcameron4580 opened #2741 "Windows 10 Enterprise LTSC"
Does Windows 10 Enterprise LTSC is supported for Kiosk mode multi apps ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b3556b-5cb1-2eeb-e793-5efff254ddd7
* Version Independent ID: 16117a39-76b5-a7ef-7aa5-86678fe38013
* Content: [Kiosk settings for Windows 10/11 in Microsoft Intune](https://docs.microsoft.com/en-us/m

[2022-05-02 21:46] #2079 closed

[2022-05-02 21:46] ChadSimmons commented on #2079
closing based on published PR #2549

[2022-05-02 23:23] aczechowski commented on #2685
Thanks @MCIglo for the feedback. I checked with the engineering team, and while they've done work on conflict resolution, the general recommendation is to not mix direct app and app group deployments for the same app. Choose one or the other. We understand that might be challenging for large, complex environments. I don't expect we'll be able to detail all of the various combinations and the outco

[2022-05-03 15:32] aczechowski commented on #2650
Hi @MHimken, yes see https://docs.microsoft.com/en-us/mem/analytics/troubleshoot#script-requirements-for-proactive-remediations

But we should probably call it out in the list of requirements as well.

[2022-05-03 15:38] dmylar opened #2742 "Unable to Complete the Bypass"
Attempted to perform this action. Which worked up to a point. When attempting to sign into the device only using the 'Activation lock bypass code' I was unable to input the code only and leave the username field blank. To get the password field to populate you have to enter some kind of username. I tried with just an 'a' and with the prior iCloud account username and used the full code and the cod

[2022-05-03 17:47] lenewsad commented on #1615
Thanks for your question @OneUser1 and sorry that we missed your question for so long. I checked with the product team and didn't learn of any new limitations pertaining to the co-management scenario you described, so no updates are needed right now. If I find out any additional information, I'll be sure to update the doc.

[2022-05-03 17:47] #1615 closed

[2022-05-03 19:58] henrygab opened #2743 "Title is misleading ... does not explain how to enable secure boot."
Got there via search engine.  Page title was promising.  All it explained was how to determine ***IF*** secure boot was enabled, not how to enable it.  Recommend different page title, such as "Checking if Secure Boot is Enabled".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160eee7e-ebd5-306d-d38e-e23b816b515a
* Vers

[2022-05-03 20:36] #2650 closed

[2022-05-04 08:20] yogkumgit commented on #1650
@msbemba Thank you very much for the contribution and updating the documentation with PR. @svenhallauer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:21] #1650 closed

[2022-05-04 08:23] yogkumgit commented on #1693
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dreeves14 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:23] #1693 closed

[2022-05-04 08:24] yogkumgit commented on #1869
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ahanafyMS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:24] #1869 closed

[2022-05-04 08:26] yogkumgit commented on #1964
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AntonK-Github Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:26] #1964 closed

[2022-05-04 08:28] yogkumgit commented on #1722
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rockon908 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:28] #1722 closed

[2022-05-04 08:32] yogkumgit commented on #1990
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rasldasl Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:32] #1990 closed

[2022-05-04 08:33] yogkumgit commented on #2233
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Aegrum Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:34] #2233 closed

[2022-05-04 08:37] yogkumgit commented on #2265
@msbemba Thank you very much for the contribution and updating the documentation with PR. @danmyhre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:38] #2265 closed

[2022-05-04 08:39] yogkumgit commented on #2395
@msbemba Thank you very much for the contribution and updating the documentation with PR. @BorisKornienko Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:39] #2395 closed

[2022-05-04 08:42] yogkumgit commented on #2436
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:42] #2436 closed

[2022-05-04 08:43] yogkumgit commented on #2445
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Ikuko-Konno Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:43] #2445 closed

[2022-05-04 08:45] yogkumgit commented on #2569
@msbemba Thank you very much for the contribution and updating the documentation with PR. @infoachieve Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:46] #2569 closed

[2022-05-04 08:48] yogkumgit commented on #2576
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lesca Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:48] #2576 closed

[2022-05-04 08:50] yogkumgit commented on #2581
@msbemba Thank you very much for the contribution and updating the documentation with PR. @danbu Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:50] #2581 closed

[2022-05-04 08:51] yogkumgit commented on #2690
@msbemba Thank you very much for the contribution and updating the documentation with PR. @karen-gre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:51] #2690 closed

[2022-05-04 08:53] yogkumgit commented on #2677
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jeffbryantmsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-04 08:53] #2677 closed

[2022-05-04 09:17] msbemba commented on #2297
@yogkumgit The changes have been made. The issue can be closed.

[2022-05-04 15:15] felizondojr opened #2744 "Remove sentence"
Please remove the sentence in the first paragraph stating customers can leave the workloads in Pilot Intune indefinitely. A pilot should be just that--a pilot. This will (and has) perpetuated the stance to keep things "as-is". I get we need to meet customers where they are, but we don't want them to maintain status quo.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-05-04 16:23] SheffSix opened #2745 "Break points after reboot"
The doc says that break points will be kept after a computer restart, but later goes on to say that break points will need to be recreated after a restart.

Which of these statement is correct? Can this be clarified please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca8a3ba4-bf1f-9694-d5bb-88719680fd23
* Version In

[2022-05-04 16:56] cjr145 opened #2746 "'Administrative Service Management option' capabilities are not clear"
Could you describe the "Administration Service Management option" more clearly?  I don't understand what this means.  Maybe an example would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 720cad58-2e90-ac2a-5d2c-334f417178f8
* Version Independent ID: 720cad58-2e90-ac2a-5d2c-334f417178f8
* Content: [Technica

[2022-05-04 16:58] powershellpr0mpt opened #2747 "Update external link to Samsung Knox Deployment App documentation"
The link under the section:
https://docs.microsoft.com/en-us/mem/intune/enrollment/android-samsung-knox-mobile-enroll#add-devices
is no longer valid.

- Old link:
https://docs.samsungknox.com/KME-Getting-Started/Content/add-device-info.htm

- New link:
https://docs.samsungknox.com/admin/knox-mobile-enrollment/about-kda.htm

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-05-04 18:12] #2745 closed

[2022-05-04 21:31] aczechowski commented on #2740
Thanks @GitBurgr for the feedback. I talked with a SME in Microsoft Support (Frank) who made a good point that this is really behavior of the OS/BitLocker, not ConfigMgr/task sequence. At some point we need to draw the line on how much core BitLocker behavior we include in the already extensive ConfigMgr docs. So I'm going to close this issue.

But if you're passionate about adding something to th

[2022-05-04 21:31] #2740 closed

[2022-05-05 04:42] #2297 closed

[2022-05-05 05:10] itguysocal opened #2748 "2nd root cause for 0x80180014 identified"
The resolution provided for 0x80180014 is incomplete. The 2nd remedy is to remove the device enrollment restriction for Windows (MDM) Personally owned devices.

![image](https://user-images.githubusercontent.com/43482381/166866395-0ba7fe4a-ea92-4701-b6e8-3a2750d0d6ea.png)

#ATCP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-05-05 15:57] lenewsad commented on #1923
Hi @0fflineDocs, I haven't been able to get clarification on the code sample. But I opened a doc bug with the product team and I'll keep trying to get a clearer code sample for this article.

[2022-05-05 16:23] lenewsad commented on #2686
Hi @MathiasAaron, thank you for your content suggestion. I asked the Microsoft Intune product team for alternative ways to sync a Mac. I'll update the doc accordingly once I hear back. Since I'm tracking the update internally, I am going to close this issue.

FYI @yogkumgit

[2022-05-05 17:05] rockon908 opened #2750 "Add a note deleted apps from Client apps list"
Can we add a note in the delete apps section that:

If the app is deleted from Client apps in Endpoint manager, they won't be able to push it back again (when it's mentioned as unpublished)

And also mention that they will need a APK with new package name as the older one gets "stuck"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-05-05 17:06] rockon908 opened #2751 "Add a note for detection rule for path"
Can we add a note that the path should be specific WIYTHOUT any special characters like ",

Otherwise it wont be detected properly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca840cce-3b99-3009-c8fa-d5fab6ae37d0
* Version Independent ID: 928b9e37-626a-8d50-c6a1-ac0b5cad4be4
* Content: [Add and assign Win32 apps to M

[2022-05-06 04:04] #2653 closed

[2022-05-06 04:44] Rowantrek opened #2752 "Feedback"
Links to Intune are broken/old.

Menu Structure has changed.

I can no longer see the Education Profiles in Intune.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bc0159d-5a5e-ea2c-042d-bd5ead842d0b
* Version Independent ID: 83266995-5234-3b09-784d-75bb1844e5f3
* Content: [Intune settings for the iOS/iPadOS Classroom

[2022-05-06 10:12] IvyMS1990 opened #2753 "Can set up CMG on azure china, 21Vianet?"
[Enter feedback here]
My cx want to set up CMG on azure china. However, in this doc, it only allow public azure and us government. Can set up CMG on azure china?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08585d2d-c8d3-d732-5884-1a01069270ae
* Version Independent ID: 982da2bc-3015-cdad-cc51-a35cb1f9d19a
* Content:

[2022-05-06 12:12] msbemba commented on #2726
@gbms311 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2754

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-06 12:17] msbemba commented on #2729
@tmccasland Thank you for your feedback. Ideally, the organization should have disabled your account inturn removing your device from intune. However, if this is not the case, I'd recommend contacting your Old Organization's Support person as even Microsoft support cannot fix it from the backend.

Hope this helps!

Thanks
Sri

[2022-05-06 12:25] msbemba commented on #2742
@dmylar Thank you for your feedback. There has been no information about the change in process, However, in your case, I'd recommend you to contact Microsoft support via the need help section in the admin center so that one of our support representatives will be able to assist you.

Hope this helps!

Thanks
Sri

[2022-05-06 14:43] MarineBDCoru commented on #2693
Hello Sri,
Thanks for you answer. Do you know if the change will be made?

[2022-05-06 14:44] MarineBDCoru commented on #2704
Ok, thanks! Waiting for your update :)

[2022-05-06 17:10] shashishailaj commented on #2728
@yogkumgit Do we have any update on this ?

[2022-05-06 18:48] ChadSimmons opened #2757 "Updated solutions of Microsoft Endpoint Manager brand"
Currently, the following solutions are listed as part of the Microsoft Endpoint Manager brand

https://docs.microsoft.com/en-us/mem/configmgr/core/understand/microsoft-endpoint-manager-faq#what-is-microsoft-endpoint-manager-

- [Configuration Manager](https://docs.microsoft.com/en-us/mem/configmgr/)
- [Intune](https://docs.microsoft.com/en-us/mem/intune/)
- [Desktop Analytics](https://docs.microso

[2022-05-06 18:59] davehop commented on #2738
Hi, my feedback did not involve any typo's.

I am asking for the article to be updated with answers to the above questions/scenarios regarding DEM account limitations

[2022-05-06 19:45] ryanhelmer opened #2758 "Disable catch up scan still not clarified"
Hello! I read the three comments saying that the documentation is in fact accurate, but the comments themselves are confusing. Could you help clarify?

According to below, Intune UI uses a value of Yes "to turn on the scan", but Intune UI = No or Not configured ALSO "results in the scan being enabled." Could you clarify?

- The CSP uses a value of **0** to mean **Enable**, which the CSP states wil

[2022-05-07 08:46] msbemba commented on #2738
Sorry about that. Another issue was tagged incorrectly. I'll get the answers and update the document shortly.

[2022-05-07 08:47] msbemba commented on #2739
@alfonso-rodriguez-2022 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2755

Thanks
Sri

[2022-05-09 07:04] msbemba commented on #2718
@chblac Thank you for your feedback. The scope tags on your roles are not the ones that are used to control what the admins can actually see, but just setting up a scope tag for this specific role.

You can assign scope tags to an Intune admin only from the role assignments blade. You can only assign a scope tag you have in your role assignment(s).

If it is still not clear, I'd recommend you watc

[2022-05-09 07:24] msbemba commented on #2719
@chblac Thank you for your feedback.  You create scope groups first and when you assign a scope tag, you can only target groups that are listed in the Scope (Groups) of your role assignment.

You are correct, you can only modify which are only targeted to groups listed in the Scope (Groups) of your role assignment.

I'm not sure if this document needs modification as this is available in the doc s

[2022-05-09 07:32] msbemba commented on #2741
@jcameron4580 Thank you for your feedback. From the information that we have, it is not supported for Kiosk mode multi apps
https://techcommunity.microsoft.com/t5/windows-it-pro-blog/ltsc-what-is-it-and-when-should-it-be-used/ba-p/293181

However, I'd recommend you leave a feedback on our Main feedback portal so a Product/dev engineer can provide you information if this is in the roadmap.

Main fe

[2022-05-09 07:40] msbemba commented on #2732
@scdfosbos Thank you for your feedback. The Windows Autopilot for existing devices only supports user-driven Azure Active Directory and Hybrid Azure AD profiles.  I do not see it available for the non-user-driven autopilot deployment profile in the roadmap.

However, I'd recommend you post this on our Feedback portal, so that a Product/Dev engineer will be able to provide more information on when

[2022-05-09 07:52] msbemba commented on #2738
@davehop Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2759 and waiting for the author to verify and approve.  Once it is approved, the updates will be live.

Thanks
Sri

[2022-05-09 08:07] msbemba commented on #2467
@MarkusMory Thank you for your feedback. If you choose multiple accounts,  the list of user accounts added will be able to automatically sign in. The same goes for groups. All users part of the group will be able to sign in automatically.

Hope this helps!

Thanks
Sri

[2022-05-09 08:24] msbemba commented on #2515
Thank you  @v-rechau  I'll work with the team and get back to you. This is indeed an interesting discovery. Rest assured we will get the document fixed.

[2022-05-09 08:24] MarkusMory commented on #2467
@msbemba Thank you for your response. But I must admit it doesn't really explain it.
Let's say I configure User1 for automatic logon. I would expect that I turn on the computer and after Windows is booted User1 is automatically logged on. But if I configure User1 and User2 for automatic logon. Which one is going to be logged in after the computer booted?

Thank you very much

[2022-05-09 09:30] msbemba commented on #2467
@MarkusMory  Thank you for your feedback. The user has to sign in with the credentials for login. They will be prompted to sign in, unlike auto logon. users added via Azure AD user or groups will be able to sign in to the Kiosk. Maybe the word automatically created ambiguity.

Hope this helps!

Thanks
Sri

[2022-05-09 09:33] MarkusMory commented on #2467
@msbemba  Thank you for the clarification.

Have a nice day.

Markus

[2022-05-09 09:33] #2467 closed

[2022-05-09 11:27] yogkumgit commented on #2728
@dougeby Please help us in resolving this issue. Thanks

[2022-05-09 15:46] chblac commented on #2719
+ @Joshua ***@***.***>, @Karthic ***@***.***>, @Alemeshet ***@***.***>

This is regarding documentation feedback Scope Groups need more clarity · Issue #2719 · MicrosoftDocs/memdocs (github.com)<https://github.com/MicrosoftDocs/memdocs/issues/2719>, filed in response to this ICM: Incident-304188375 Details - IcM (microsofticm.com)<https://portal.microsofticm.com/imp/v3/incidents/details/304188375/

[2022-05-09 20:10] jerryabo opened #2764 "Application Status reporting behavior is not detailed for Microsoft Store apps"
Device View
Install status view on the Windows device will show "Available for install" and will not be updated whether a user installs or uninstalls the application.

Application View (device and user)
"No results"

Proposed minimum edit to this page, for consideration, under the first Note:

From: Android Store apps that are deployed as Available do not report their installation status.
To: **_M

[2022-05-10 00:13] nhogarth86 opened #2765 "ConfigMgr client during Autopilot typo?"
Under the important note about installing the ConfigMgr client during Autopilot with Hybrid Azure AD Join, it says "You can't deploy the Configuration Manager client while provisioning a new computer in Windows Autopilot user-driven mode for hybrid Azure AD join. This limitation is due to the identity change of the device during the Azure AD-join process". Is it a typo where it says "This limitati

[2022-05-10 05:15] yogkumgit commented on #2718
@msbemba

[2022-05-10 05:16] yogkumgit commented on #2719
@msbemba

[2022-05-10 05:19] yogkumgit commented on #2448
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JakeMoe Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-10 05:20] #2448 closed

[2022-05-10 05:23] yogkumgit commented on #2729
@msbemba Thank you very much for the contribution and sharing this explanation. @tmccasland Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-05-10 05:23] #2729 closed

[2022-05-10 05:24] yogkumgit commented on #2732
@scdfosbos Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-05-10 05:24] #2732 closed

[2022-05-10 05:27] yogkumgit commented on #2741
@jcameron4580  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-05-10 05:27] #2741 closed

[2022-05-10 05:28] yogkumgit commented on #2742
@msbemba Thank you very much for the contribution and sharing this explanation. @dmylar Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outco

[2022-05-10 05:28] #2742 closed

[2022-05-10 11:21] Air-Git opened #2766 "Device Restart Behaviour"
How does "Determine behavior based on return codes" differ from "App install may force a device restart"? I can read the words, but they seem to amount to the same thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca840cce-3b99-3009-c8fa-d5fab6ae37d0
* Version Independent ID: 928b9e37-626a-8d50-c6a1-ac0b5cad4be4
*

[2022-05-10 13:33] andrewjohnporter opened #2767 "ADR search filter- updates 'older than 7 days' for those that patch weekly"
Hi, it's great that an ADR search filter has been added for updates older than 'x' days. It would be good if those dates had a bit more flexibility. I would assume a lot of people do weekly patching therefore a 'older than 7 days' option would be important to add as well. Even better would be to allow full flexibility and let choose older than any amount of days.

https://docs.microsoft.com/en-us/

[2022-05-10 17:01] lenewsad commented on #1703
Hi @tiherz, thank you for reaching out to the Microsoft Intune Docs team with your questions.   I am updating this article so that it clarifies the limitations and has more platform-specific info. To successfully use a DEM account to enroll Windows 10 devices via Autopilot, make sure:

* Devices are assigned an Intune license.
* Your tenant meets [Windows Autopilot licensing requirements | Microso

[2022-05-11 04:47] #2743 closed

[2022-05-11 10:42] burtybob opened #2768 "Eval link doesn't work"
The https://www.microsoft.com/evalcenter/evaluate-system-center-configuration-manager-and-endpoint-protection link no longer goes to the eval center and ends up going to the generic download (https://www.microsoft.com/en-us/download) area.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b412c586-a84c-7c81-ed61-05011d4bf

[2022-05-11 11:53] shc-privat opened #2769 "To many Errors in the description or Translation"
I cant work with this document. Because the path to the ressource in azure are not findable.

Please correct this in the discription or in the translation (german)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d01fcdfb-06ea-51c1-890c-5ccf63ae8f36
* Version Independent ID: d7766b63-8462-c281-d74b-

[2022-05-11 16:53] svenhallauer opened #2770 "Microsoft Lens is missing"
The Microsoft Lens app for iOS and Android is missing from the list of apps that support App Protection Policies.  The app was formerly known as Office Lens, but that one isn't in the table either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02165898-ec07-86e1-adc5-18f60bec9689
* Version Independent ID: 7b6c64c4-330

[2022-05-11 17:17] Brenduns commented on #1293
@Paul-Sagnola-RR     Hello and thanks for this feedback.  I don’t think anyone would disagree about the confusion in some of the settings name and labels as found in the Intune UI vs the underlying CSPs. This has been raised with the Intune product group several times for different settings and areas for a few years now, and not all of that feedback is something that has been acted on as of yet.

[2022-05-11 17:55] svenhallauer commented on #1650
Thanks!

[2022-05-11 18:19] aczechowski commented on #2768
Thanks @burtybob for filing the feedback. We're aware of the issue. I'm investigating next steps.

[2022-05-11 21:07] tiburd commented on #2704
@MarineBDCoru
Hi,
Thank you for your submission.
The product team has confirmed that the steps are outdated and will post an update soon.
Thanks!

[2022-05-11 21:07] #2704 closed

[2022-05-12 03:37] RhysCLCsAustralia opened #2772 "Missing instruction to connect to Wi-Fi in OOBE"
This section does not address modern laptops with only Wi-Fi (no ethernet):
https://docs.microsoft.com/en-us/mem/autopilot/add-devices#:~:text=While%20OOBE%20is%20running%2C%20you%20can%20start%20uploading%20the%20hardware%20hash%20by%20opening%20a%20command%20prompt%20(Shift%2BF10%20at%20the%20sign%2Din%20prompt)%20and%20using%20the%20following%20commands%3A

Please include instruction on how to

[2022-05-12 04:32] yogkumgit commented on #2747
@msbemba Thank you very much for the contribution and updating the documentation with PR. @powershellpr0mpt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-12 04:32] #2747 closed

[2022-05-12 12:00] IvyMS1990 opened #2773 "Cannot run the powershell script to extend diagnostic log"
[Enter feedback here]
Try to run the powershell to get more logs on cloud DP. But it failed with below error. Already import Az module.
Set-AzureSubscription : The term 'Set-AzureSubscription' is not recognized as the name of a cmdlet
Set-AzureSubscription : The term 'Set-AzureSubscription' is not recognized as the name of a cmdlet
Set-AzureServiceDiagnosticsExtension : The term 'Set-AzureServiceD

[2022-05-12 12:24] IvyMS1990 opened #2774 "Failed to run the powershell to enable diagnostic log on cloud DP"
Follow the instruction on this page to run the script, it failed to run with below error. May I know if this script still valid?

Set-AzureServiceDiagnosticsExtension : Exception has been thrown by the target of an invocation.
At line:19 char:1
+ Set-AzureServiceDiagnosticsExtension -StorageAccountName $storage_nam ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + C

[2022-05-12 13:19] tiburd commented on #2704
@yogkumgit

[2022-05-12 16:49] Brenduns commented on #1293
Hi Pual, looks like I missed that last question about the grid. My bad.

The details in the Defender CSP content are authoritative for how that CSP is implemented.  So I'd have to say yes, that grid is accurate. Even if it's not necessarily clear.  That CSP content tells me when the CSP Named DisableCatchupQuickScan is set to 1 (disabled - which is the default for the CSP on any device that doesn'

[2022-05-12 19:15] Paul-Sagnola-RR commented on #1293
Thank you for the reply I really appreciate it.

I checked and my policy is on the old yes/no format, not the new CSP version that uses enable/disable wording. The new format does look more clear. However, when I look closer the tool tip wording inside of Intune must be incorrect for the Quick scan, but is correct for the full scan.

Take a look below and see if you concur.

![image](https://user-

[2022-05-12 20:29] Brenduns commented on #1293
Good gravy!  Those are not the same. From what I was informed about the release of the new policies, they would/should be the same.

I'm raising this question with the product team (again. But as an issue that's new to this new policy instance).  Normally, or in the future, this being a UI to CSP issue, we'd direct you through support so they can get customer impact directly attributed to a bug (s

[2022-05-13 03:02] aczechowski commented on #2768
See https://techcommunity.microsoft.com/t5/windows-11/accessing-trials-and-kits-for-windows-eval-center-workaround/m-p/3361125

We'll update this and other articles soon.

[2022-05-13 12:50] andremieth opened #2775 "Remove "return" in Script example "Detect_Expired_User_Certificates.ps1""
The example (Detect_Expired_User_Certificates.ps1) is not working and won't go to "exit 1" with "return" before:

Write-Host "Match"
        Return $results.count
        exit 1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c319001-aa77-b53e-0975-4c55fbd7be87
* Version Independent ID: 35080234-188d-cb9a-fca9-8df7986b

[2022-05-13 14:59] jerryabo opened #2776 "Define what Intune Connector access is required in "The computer must also have access to the internet and your Active Directory.""
We defer to Network Requirements for Intune, on the Intune connector requirements,  but that doesn't appear to cover the access requirements needed for Onprem AD here: "The computer must also have access to the internet and your Active Directory." --Please explicitly define what protocols/ports are required or link to existing Windows AD requirements and required services (e.g. https://docs.micros

[2022-05-13 19:34] GitDaan opened #2778 "Title Does Not Match Contents"
A very common feature of Microsoft docs is the title does not represent the contents. In this case, a title of "Install and Configure a Software Update Point" if for an article that talks about the issues around installing and configuring a SUP but does not actually contain any real instructions. Besides the ethics of being misleading, it also results in lost productivity. And it can be confusing

[2022-05-13 22:54] jackchenwork opened #2779 "MDM profile removable, yes or no meaning"
[Enter feedback here]

"MDM profile removable: Tells you if users can remove the MDM profile from an enrolled device. Options:
Yes: Device users cannot unenroll devices.
No: Device users can unenroll devices."

Shouldn't "Yes" means device user can remove/unenroll device?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-16 07:39] zapatelms opened #2780 "Search for Globally Unique Name"
The section for picking "Globally unique name" by creating Virtual machine scale set doesn't work reliably
I am still able to see my VMSS deployed CMG name shown as available.
Repro:
Sign to Azure >> Virtual machine scan sets >> Create
type existing virtual machine scale set name for my Lab, it still shows as available which should not be the case
[Enter feedback here]

---
#### Document Details

[2022-05-16 12:46] chapmanfreebornIT opened #2781 "Typo in text: Andriod -> Android"
Support for Audio Alert on Andriod corporate owned work profiles and fully managed (COBO and COPE) devices

should be:

Support for Audio Alert on Android corporate owned work profiles and fully managed (COBO and COPE) devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16c28db-1e8e-31fa-6127-3050a2940422
* Version

[2022-05-16 15:13] msbemba commented on #2753
@IvyMS1990 Thank you for your feedback. You are correct, it is only available for Azure US government cloud or Azure public Cloud. It is not available for Azure China yet. You can provide your feedback about this directly on our main feedback portal -https://feedbackportal.microsoft.com/, so one of our dev/product engineers can let you know if it is the roadmap or why this is not available in Chin

[2022-05-16 15:28] msbemba commented on #2764
@jerryabo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2782

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-16 15:34] msbemba commented on #2766
@Air-Git  Thank you for your feedback.

Determine behavior based on return codes: This option means that the device will restart based on the configured return code. With this configuration a Hard reboot return code will immediately trigger a restart of the device and a Soft reboot return code will notify the user that a restart is required to finish the installation.

App install may force a devi

[2022-05-16 16:52] simc-pk commented on #2696
@abrownKGF, they do seem to have restarted the version numbering, but you can retain the old versioning logic if you check the file version of `RemoteHelp.exe` in `C:\Program Files\Remote help`.  For example, the latest published version, **4.0.1.7** can be detected by checking for **10.0.22467.1007** when checking `RemoteHelp.exe`.

My MEM detection logic is as follows --

![image](https://user-i

[2022-05-17 15:25] felymich opened #2785 "Source file for Task Sequence"
[Hello,
For the line in the Run Command Line in a task sequence "cmd.exe /c copy Jan98.dat c:\sales\Jan98.dat"
1. Where does the Jan98.date is located? There is no path? is it local?
2. If it is on a share \\Server\Share$ how do I get it on the local client?

Thanks,
Dom]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-18 07:58] soroshkinao opened #2787 "Why was the "Photo library data transfer support via app protection policies" information removed?"
Hello!
Service release 2204, dated April 25, 2022, about what's new in Microsoft Intune (https://docs.microsoft.com/en-us/mem/intune/fundamentals/whats-new#upgrade-to-the-microsoft-intune- management) contained the information about the feature "Photo library data transfer support via app protection policies". This information was later removed. Could you please tell me the reasons for the removal

[2022-05-18 08:07] Ikuko-Konno opened #2788 ""Android Enterprise fully managed" does not support custom notifications."
"Android Enterprise personally-owned with a work profile" supports custom notifications, but currently "Android Enterprise fully managed" does not.
We would appreciate it if you could add this to your public documentation.
https://docs.microsoft.com/en-us/mem/intune/remote-actions/custom-notifications

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-05-18 12:29] Air-Git opened #2789 "Prerequisites Note - Pre-provision re-enroll"
Regarding Prerequisites, Note 1. "You cannot automatically re-enroll a device through Windows Autopilot after an initial deployment in pre-provisioning mode."

This seems to be incorrect. It is usually possible to reset the device using Fresh Start or Wipe. Both of these actions cause the object in Intune to be deleted. I raised a Premier Support ticket to question this. They confirmed it.

---
##

[2022-05-18 14:37] CloudifiedLLC commented on #2336
This was immensely helpful!  Thank you for sharing this information.

FYI, the certbot path for me was slightly different when configuring crontab:

/usr/bin/certbot renew
/usr/sbin/mst-cli import_cert
/usr/sbin/mst-cli server restart

[2022-05-18 17:10] aczechowski commented on #2748
Thanks @itguysocal for the feedback. I'm making some changes to the Autopilot content, which I hope will publish next week. I'll sneak this change in.

[2022-05-18 18:00] davidpaMSFT opened #2791 ""Azure AD user discovery" does not appear to be a prerequisite for syncing collection membership to Azure AD groups"
Based on lab observations, collection membership sync to Azure AD group(s) seems to be working even when "Azure AD user discovery" is not enabled, both for user and device collections. Therefore, "Azure AD user discovery" should be removed from "Prerequisites for Azure AD synchronization" section: https://docs.microsoft.com/en-us/mem/configmgr/core/clients/manage/collections/create-collections#pre

[2022-05-18 19:16] davidpaMSFT opened #2792 "Adding an Owner to the Azure AD group does not appear to be required for syncing collection membership to Azure AD group"
Based on lab observations, collection membership sync to Azure AD group(s) seems to be working even when selected Azure AD group doesn't have an Owner added, i.e. when group is selected for sync, "CM Server App" is automatically added as an Owner. Therefore, adding "the identity that will create the synchronization relationship in Configuration Manager" should be removed from the "Create a group a

[2022-05-19 13:50] mcmaurer0 opened #2795 "What time measurement is used?"
Ever heard of specifying units of measurement?

Minutes? Seconds? Miliseconds? Hours? Days? Centuries?

What amount of time are we specifying?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c9c2c10-9fc0-4d62-af69-8155e7383005
* Version Independent ID: f6c78cb4-884a-5e60-0716-7f9d20c89f86
* Content: [Set up device to a

[2022-05-19 16:50] msbemba commented on #2750
@rockon908 Thank you for your feedback. By design, it should allow you to push it back once it becomes unpublished. I was able to test it with an app. This sounds like a bug than a document change, hence request you to contact support via the need help section on the admin center, so that a support engineer can help you fix this or raise a bug with the product group.

Thanks
Sri

[2022-05-19 16:53] msbemba commented on #2751
@rockon908 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2797

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-19 16:57] msbemba commented on #2752
@Rowantrek Thank you for your feedback. I'll update the document with the navigation changes shortly.

Thanks
Sri

[2022-05-19 18:04] Gaz2600 opened #2798 "ODJConnectorBootstrapper Firewall Whitelist"
Need a Firewall Whitelist of URLs needed for ODJConnectorBootstrapper.exe installer and service to function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f93dd93-e003-36fc-02d6-07166537d914
* Version Independent ID: 1b860d13-bcf5-50da-89f9-ee12ece6edb2
* Content: [Enrollment for hybrid Azure AD-joined devices - Wind

[2022-05-19 18:37] lenewsad commented on #2779
Hi @jackchenwork, thank you for reaching out to the Intune docs team. You are correct that the definitions should be switched around. We've updated the doc with that change and updated the values in the table to match. Those changes will be live by end of week. Thanks for your contribution!

[2022-05-19 18:37] #2779 closed

[2022-05-19 22:13] aczechowski commented on #2785
Hi @felymich in that example, I think it would get the source file from the current working directory. Ideally you would also use the **Start in** option. Or just use an explicit path for the source file so that there's no question. So if the source file is on a network share (and the permissions are handled appropriately), then you should be able to do something like:

`copy "\\server\share\filen

[2022-05-19 22:13] #2785 closed

[2022-05-19 22:14] #2753 closed

[2022-05-19 22:23] #2768 closed

[2022-05-19 22:27] aczechowski commented on #2765
Hi @nhogarth86 fair feedback :) I'm making some changes to that article for an upcoming release, so added "hybrid" as you suggested. Thanks!

[2022-05-19 22:31] aczechowski commented on #2744
Thanks @felizondojr for the feedback...I don't disagree, but at the same time, that's how the product works today. So I think this might be better aimed as product feedback to not call it a pilot group but some other terminology. You can file product feedback for ConfigMgr at https://feedbackportal.microsoft.com/feedback/forum/4669adfc-ee1b-ec11-b6e7-0022481f8472

[2022-05-19 22:31] #2744 closed

[2022-05-20 04:15] yogkumgit commented on #2750
@msbemba Thank you very much for the contribution and sharing this explanation. @rockon908 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-05-20 04:15] #2750 closed

[2022-05-20 16:42] Ksbooth01 opened #2800 "Acronym undefined"
**VPP** apps and ebooks associated with the **VPP** token inherit the scope tags assigned to the associated **VPP** token.
- article contains NO reference to this acronym.  If you are going to abbreviate, please enumerate this first instance of the abbreviation
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37f4d965-ae4

[2022-05-20 17:27] ErikjeMS commented on #2393
Closing issue.

[2022-05-20 17:27] #2393 closed

[2022-05-20 19:42] lenewsad commented on #2795
Hi @mcmaurer0, thanks for reaching out to the Microsoft Intune docs team with your question.

The options on my phone range from "immediately" to _x_ seconds to _x_ minutes (all the way up to 30 minutes).

As an example of how this requirement works: If my organization requires that devices lock after 15 minutes of idling, I could set my screen to auto lock at _15 minutes_, _15 seconds_, or _immed

[2022-05-20 19:45] #2795 closed

[2022-05-22 12:33] 0fflineDocs opened #2801 "Licensing clarification FU policies"
Needs clarification. Is the following statement correct?
Windows Update for Business > requires at least Windows Pro
Feature Update policies in Intune > requires at least Windows Enterprise

Pre-requisites here state that E3/E5 or A3/A5 is required. But the Feature Update is supported for Windows Pro.
Does this mean that we only need one E3-license in the tenant and then we can target the Feature

[2022-05-23 09:05] Rakib opened #2802 "Missing linux support"
[Enter feedback here]
https://techcommunity.microsoft.com/t5/microsoft-endpoint-manager-blog/microsoft-endpoint-manager-adds-management-and-compliance-checks/ba-p/2902346

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f70a020-9214-3316-5419-ee35ba6ff91a
* Version Independent ID: 9cc74430-af54-a2ac-7e4f-5a70b415c66e
*

[2022-05-23 10:24] danthioolea opened #2803 "Web apps added but "Not applicable" for Windows devices"
[Enter feedback here]

The documentation reads "For Windows devices, a shortcut to the web app is placed on the Start Menu."
However, when i added a web app as "Required" for a group of users, it was installed only on their iOS devices and shows up as "Not application" for Windows devices.

Can someone explain why this has happened and how can i troubleshoot it?

---
#### Document Details

⚠ *Do n

[2022-05-23 16:57] snydertl opened #2804 "wrong file name for ps1"
[Enter feedback here]
The file name is mst-ca-provisioning.ps1 not mst-CA-readiness.ps1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d63aaa4-b32f-5ac0-6fd4-85fa9322b811
* Version Independent ID: 051eeee2-4aaf-38e7-8ff6-a0624a4f6855
* Content: [Use Microsoft Tunnel VPN gateway with Conditional Access policies](https:

[2022-05-23 19:04] brianfgonzalez opened #2805 "add sp for correcting sa owner check for db verification script "exec sp_changedbowner""
Provide the CM sp for assigning the sa account as db_owner of the db.
exec sp_changedbowner [sa]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49301fc3-9163-d533-1057-f8d994e95bbf
* Version Independent ID: 3c3fbdf1-25ec-3c5f-be4c-46983216d3b5
* Content: [Prepare to use an availability group - Configuration Manager](ht

[2022-05-23 21:17] rpstester opened #2806 "Phase out IE?"
Just curious if there is or will be a new way to import updates into SCCM/MECM without Internet Explorer.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34802da0-5f77-fc77-d379-c4dc794b5435
* Version Independent ID: fff11161-e7da-1190-9109-91cf01c404df
* Content: [Manage software updates synchronization - Confi

[2022-05-24 15:11] ncheymol opened #2807 "Intune connector prerequisites"
The intune connector prerequisites are diluted in the installation steps which makes it easy to miss some of them.

Could you add a prerequisite section with OS, compatible proxy types and the need of a Licence on the intune or global administrator ?

(admin edit: update doc details with latest)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHu

[2022-05-24 17:44] Brenduns commented on #2451
@MikeSchorr   Thanks for the feedback, though I'm not clear what you're seeking here.  The installation instructions for the script direct the reader to run the script as root, followed by the example command of  `sudo chmod +x ./mstunnel-setup`.     Being an example, its not intended to be the specific command for each supported version of Linux, but guidance based on our development teams expect

[2022-05-24 20:24] Brenduns commented on #2379
@james-noble  Thanks for your feedback on this. I’ve also shared your thoughts with our product group.
As to the current state of this scenario, there remains a reliance on the trust to the Azure AD tenant where MDE is hosted. As of yet, there has not been deep investigation alternatives for this scenario sufficient to drive content.  Should that change, we’ll update the docs to reflect that, thou

[2022-05-24 20:24] #2379 closed

[2022-05-25 05:17] yogkumgit commented on #2764
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jerryabo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:17] #2764 closed

[2022-05-25 05:31] yogkumgit commented on #2766
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Air-Git Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:31] #2766 closed

[2022-05-25 05:32] yogkumgit commented on #2726
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gbms311 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:32] #2726 closed

[2022-05-25 05:33] yogkumgit commented on #2079
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ChadSimmons Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:35] yogkumgit commented on #1604
@msbemba Thank you very much for the contribution and updating the documentation with PR. @svenhallauer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:36] #1604 closed

[2022-05-25 05:38] yogkumgit commented on #2751
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rockon908 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:38] #2751 closed

[2022-05-25 05:43] yogkumgit commented on #2738
@msbemba Thank you very much for the contribution and updating the documentation with PR. @davehop Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:44] #2738 closed

[2022-05-25 05:44] yogkumgit commented on #2739
@msbemba Thank you very much for the contribution and updating the documentation with PR. @alfonso-rodriguez-2022 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:44] #2739 closed

[2022-05-25 07:35] dcarro-cisel opened #2808 "How to import update from Edge?"
Hi,

Internet Explorer is soon down, how I can import update with Edge?

I can't add update to the basket for importing into WSUS console.

From IE
![image](https://user-images.githubusercontent.com/106230354/170205902-ef20e042-be99-4ebd-9dec-9edc2792b4d1.png)

From Edge
![image](https://user-images.githubusercontent.com/106230354/170206067-be10098e-81c2-47ed-aa9c-8e93cf443a3b.png)

Thanks

---
##

[2022-05-25 11:43] iftikhariqbal opened #2809 "Classic PC Agent"
The page mentions 'For some tasks (like downloading software updates for the classic pc agent),..' can we get a reference link on it or some more information on what exactly is the classic pc agent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c9c3475-56d4-026b-349f-f9cbc258537c
* Version Independent ID: 9c6476ed-8a

[2022-05-25 12:41] OffColour opened #2810 "Inconsistent with what Apple states in their documentation and Intune functionality"
So this page states that enrolling your device gives the company the ability reset your phone to factory whereas when you go through the setup process on iOS it explicitly states that the company can't and the "wipe" button is disabled in Intune for personal devices.

It also contradicts what is in this Apple document [https://www.apple.com/business/docs/resources/Managing_Devices_and_Corporate_Da

[2022-05-25 13:23] ChadSimmons commented on #2079
Thank you @msbemba

[2022-05-25 13:36] felizondojr opened #2812 "Note section clarity"
More clarity is needed on the note section around the assignment of a compliance policy to a device without a user sign-in. At face value, this doesn't make sense. What device isn't going to have a user signed at some point? I'm assuming this means there should be a compliance policy assigned to user groups and another assigned to device groups to cover compliance at all check-ins?

---
#### Docum

[2022-05-25 15:01] dimitar-nedelchev-dxc-com opened #2814 "Firewall / Proxy requirements for the Intune Certificate Connector"
Hi,

We are trying to deploy the Intune Certificate Connector for one of our customer, but it is really unclear what communication channels must be opened for the certificate connector to work, when we have a locked down environment and we must whitelist URLs to allow any outbound connections.

It is said in this article that "[The server [hosting the certificate connector] must meet the same netw

[2022-05-25 18:16] aronsmithdonovan opened #2815 "Outdated instructions for creating Autopilot device group"
Instructions to [create an autopilot device group using Intune](https://docs.microsoft.com/en-us/mem/autopilot/enrollment-autopilot#create-an-autopilot-device-group-using-intune) are incorrect.

Correct group configuration (changes are bolded):
- Group type: Security
- Group name and group description: *arbitrary*
- Azure AD roles can be assigned to the group: **No**
- Membership type: **Dynamic d

[2022-05-25 20:40] aczechowski commented on #2815
Thanks @aronsmithdonovan for the feedback. We have a backlog of work in this area and hope to have someone soon that can devote some time to reviewing and updating. In the meantime, you're always welcome to contribute changes directly, which are more likely to happen sooner than later. 😉 For more info, see http://docs.microsoft.com/contribute.

[2022-05-26 13:43] msbemba commented on #2752
@Rowantrek Thank you for your feedback. For the Profiles navigation, I have involved the author to fix it. We have made changes to the Intune LInks via PR#https://github.com/MicrosoftDocs/memdocs/pull/2817

Thanks
Sri

[2022-05-26 22:13] Brenduns commented on #1803
Content has been updated via https://github.com/MicrosoftDocs/memdocs-pr/pull/7688. Merged on May 26, 2022, and expected to publish on 5/27/2022.

Closing issue as resolved.

[2022-05-26 22:13] #1803 closed

[2022-05-27 03:26] RyanAnderson111 opened #2818 "Conflicting or confusing information regarding update install that exceeds max run time"
In the "Set maximum run time" section, there appears to be conflicting information in these two lines:

If the update takes longer than the maximum run-time value, Configuration Manager creates a status message and stops the software updates installation.

And:
After a software update starts installing, it will continue to install even if the installation goes beyond the end of the maintenance win

[2022-05-27 14:31] Brenduns commented on #2814
@[dimitar-nedelchev-dxc-com](https://github.com/dimitar-nedelchev-dxc-com)   Thanks for the question and feedback.

I’ve shared this feedback with our product group, as this is a question that’s come up before. They’ve confirmed that the guidance in docs is the guidance for the certificate connector, that the connector should be granted the same access over ports and services as documented for the

[2022-05-27 15:32] wdiggle opened #2820 "Typo in the text"
I've noticed a typo in this page... in the starting paragraph it says...

App configuration policies can help you eliminate app setup up problems...

The paragraph has "setup" and "up" straight after it.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f99adcae-3960-b5f8-efd3-1603490519c7
* Version Independent ID

[2022-05-29 00:02] 1989shack opened #2821 "browser login server"
HcL server hosting

[2022-05-29 00:02] 1989shack commented on #2821
Browser login for  internet users

[2022-05-29 00:03] 1989shack commented on #2821
Browser login for  internet users

[2022-05-29 23:02] 1989shack opened #2822 "Virtual-environmente Ubuntu Server"
https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md

[2022-05-30 01:11] jtogashi opened #2823 "DetectedAppsRawData report is not documented"
Currently [Intune reports and properties available using Graph API](https://github.com/MicrosoftDocs/memdocs/blob/main/memdocs/intune/fundamentals/reports-export-graph-available-reports.md) describes report name of `DiscoveredAppsRawData`, but MEM admin center seems to use `DetectedAppsRawData` instead in [Apps] > [Monitor] > [Discovered apps] > [Export]. Using Graph API `/deviceManagement/reports

[2022-05-30 14:16] msbemba commented on #2781
@chapmanfreebornIT Thank you for your feedback. I could not find the typo anymore. Looks like the document has been recently updated as well.

Hope this helps!

Thanks
Sri

[2022-05-30 14:20] msbemba commented on #2788
@Ikuko-Konno Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2824

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-30 14:29] msbemba commented on #2801
@0fflineDocs Thank you for your feedback.

You are correct, Feature update is supported for windows Pro. M365 Business premium has also been added to the prerequisites.

Every user/device targeted by a Feature Update policy need to at least have one of  the below licensing

Windows 10/11 Enterprise E3 or E5 (included in Microsoft 365 F3, E3, or E5)
Windows 10/11 Education A3 or A5 (included in Mic